[KDE Backdeck]
Name=Bonded
Name[af]=Geheg
Name[az]=Bağlı
Name[be]=Перапляценні
Name[bg]=Завързан
Name[bn]=আবদ্ধ
Name[ca]=Unides
Name[cs]=Lepenka
Name[de]=Verbunden
Name[eo]=Benda
Name[es]=Unidas
Name[eu]=Estekatua
Name[fi]=Sidottu
Name[fr]=Compact
Name[gl]=Unidas
Name[hi]=बॉन्डेड
Name[hr]=Povezano
Name[is]=Bundið
Name[ko]=보세
Name[lv]=Vienkāršs
Name[mk]=Врзани
Name[mt]=Mehmuż
Name[pt]=Unidos
Name[pt_BR]=Laçado
Name[ru]=Переплетения
Name[sr]=Везан
Name[sr@Latn]=Vezan
Name[ta]=பிணைக்கப்பட்ட
Name[tg]=Печдарпечшавӣ
Name[tr]=Bağlı
Name[uk]=Бони
Name[ven]=Zwo khwathiswa
Name[xh]=Dibeneyo
Name[zu]=Kuxhumene
Preview=11.png
PySol=yes
