[KDE Backdeck]
Name=Bonded
Name[af]=Geheg
Name[az]=Bağlı
Name[bg]=Завързан
Name[cs]=Lepenka
Name[de]=Vereinigt
Name[eo]=Benda
Name[es]=Unidas
Name[fi]=Sidottu
Name[fr]=Compact
Name[is]=Bundið
Name[ko]=보세
Name[lv]=Ieķīlāts
Name[mt]=Mehmuż
Name[pt]=Unidos
Name[pt_BR]=Laçado
Name[ru]=Переплетения
Name[ta]=´ð¼ôÀð¼
Name[tr]=Bağlı
Name[uk]=Бони
Name[ven]=Vhukwamani
Name[xh]=Idityanisiwe
Name[xx]=xx
Name[zu]=Inganisiwe
Preview=11.png
PySol=yes
