[KDE Backdeck]
Name=Oxygen (SVG)
Name[be]=Oxygen (SVG)
Name[x-test]=xxOxygen (SVG)xx
Name[zh_TW]=Oxygen（SVG）
Preview=11.png
SVG=Oxygen.svgz
BackSize=63.6686,99.8159
