[KDE Backdeck]
Name=Oxygen
Name[es]=Oxígeno
Name[fa]=اکسیژن
Name[hne]=आक्सीजन
Name[km]=អុកស៊ីសែន
Name[ne]=अक्सिजन
Name[nn]=Oksygen
Name[te]=ఆక్సీజన్
Name[wa]=Ocsidjinne
Name[x-test]=xxOxygenxx
Preview=11.png
SVG=oxygen.svgz
Back=Oxygen
