[KDE Backdeck]
Name=Jolly Royal (SVG)
Name[pt]=Real Alegre (SVG)
Name[pt_BR]=Real Alegre (SVG)
Name[uk]=Веселе королівство (SVG)
Preview=11.png
SVG=jolly-royal.svg
BackSize=63.6686,93
Back=
Default=true
