[KDE Backdeck]
Name=Jolly Royal
Comment=A clean and easy style with a distinctively royal touch.
Preview=11.png
SVG=jolly-royal.svgz
Back=Jolly Royal
