[KDE Backdeck]
Name=XSkat French
Name[bg]=Френски модел
Name[bn]=ফরাসি এক্স-স্কাট
Name[br]=XSkat gallek
Name[bs]=XSkat Francuski
Name[ca]=XSkat francès
Name[cs]=Francouzský XSkat
Name[cy]=XSkat Ffrangeg
Name[da]=XSkat-fransk
Name[de]=XSkat Französisch
Name[el]=XSkat Γαλλικό
Name[es]=XSkat francés
Name[et]=XSkat (Prantsuse)
Name[eu]=XSkat Frantsesa
Name[fa]=XSkat فرانسوی
Name[fi]=XSkat Ranska
Name[fr]=XSkat français
Name[he]=XSkat צרפתי
Name[hr]=Francuski XSkat
Name[hu]=FRancia XSkat
Name[is]=XSkat á frönsku
Name[it]=XSkat francese
Name[ja]=XSkat フランス語
Name[km]=XSkat បារាំង
Name[lv]=XSkat Franču
Name[mk]=Француски XSkat
Name[nb]=Fransk XSkat
Name[nds]=XSkat (Franzöösch)
Name[nl]=XSkat Frans
Name[nn]=Fransk XSkat
Name[pa]=XSkat ਫਰੈਂਚ
Name[pl]=Francuski skat
Name[pt]=XSkat Francês
Name[pt_BR]=XSkat Francês
Name[ru]=Французский XSkat
Name[se]=Fránskkalaš XSkat
Name[sk]=XSkat francúzsky
Name[sl]=Francoski XSkat
Name[sr]=XSkat француски
Name[sr@Latn]=XSkat francuski
Name[sv]=Fransk X-skat
Name[ta]=XSkat ஃபிரஞ்ச்
Name[tg]=XSkat Фаронсавӣ
Name[tr]=XSkat Fransızca
Name[uk]=Французький XSkat
Name[zh_CN]=XSkat 法语
Name[zh_TW]=XSkat 法語
Preview=11.png
PySol=yes
