[KDE Backdeck]
Name=XSkat French
Name[bg]=Френски модел
Name[br]=XSkat gallek
Name[bs]=XSkat Francuski
Name[ca]=XSkat francès
Name[cs]=Francouzský XSkat
Name[da]=XSkat-fransk
Name[de]=XSkat Französisch
Name[es]=XSkat francés
Name[et]=XSkat (Prantsuse)
Name[fi]=XSkat Ranska
Name[fr]=XSkat français
Name[hu]=FRancia XSkat
Name[is]=XSkat á frönsku
Name[it]=XSkat francese
Name[ja]=XSkat フランス語
Name[mk]=Француски XSkat
Name[nl]=XSkat Frans
Name[pl]=Francuski skat
Name[pt]=XSkat Francês
Name[pt_BR]=XSkat  Francês
Name[ru]=Французский XSkat
Name[sk]=XSkat francúzsky
Name[sl]=Francoski XSkat
Name[sr]=XSkat француски
Name[sr@Latn]=XSkat француски
Name[sv]=Fransk X-skat
Name[ta]=XSkat ஃபிரஞ்ச்
Name[tg]=XSkat Фаронсавӣ
Name[tr]=XSkat Fransızca
Name[uk]=Французький XSkat
Name[xx]=xxXSkat Frenchxx
Name[zh_CN]=XSkat 法语
Preview=11.png
PySol=yes
