[KDE Backdeck]
Name=French
Name[af]=franse
Name[ar]=الفرنسية
Name[az]=Fransızca
Name[be]=Француская
Name[bg]=Френски
Name[br]=Galleg
Name[bs]=Francuski
Name[ca]=Francès
Name[cs]=Francouzský
Name[da]=Fransk
Name[de]=Französisch
Name[el]=Γαλλικά
Name[eo]=Franca
Name[es]=Francés
Name[et]=Prantsuse
Name[eu]=Frantsesa
Name[fi]=Ranska
Name[fr]=Français
Name[ga]=Fraincis
Name[gl]=Francés
Name[he]=צרפתית
Name[hr]=Francuski
Name[hu]=francia
Name[id]=Prancis
Name[is]=Franska
Name[it]=Francese
Name[ja]=フランス語
Name[ko]=프랑스어
Name[lt]=Prancūzų
Name[lv]=Franču
Name[mi]=Reo Parani
Name[mk]=Француски
Name[mt]=Franċiż
Name[nb]=Fransk
Name[nl]=Frans
Name[nn]=Fransk
Name[oc]=Franchimand
Name[pl]=Francuski
Name[pt]=Francês
Name[pt_BR]=Francês
Name[ro]=Franceză
Name[ru]=Французский
Name[sk]=Francúzsky
Name[sl]=francosko
Name[sr]=Francuski
Name[sv]=Franska
Name[ta]=À¢¦Ãýî 
Name[th]=ฝรั่งเศส
Name[tr]=Fransızca
Name[uk]=Французька
Name[ven]=Mufura
Name[vi]=Pháp
Name[wa]=Francès
Name[xh]=isiFrentshi
Name[xx]=xx
Name[zh_CN]=法语
Name[zh_TW]=法語
Name[zu]=Isi-Frentshi
Preview=11.png
PySol=yes
