[KDE Backdeck]
Name=AisleRiot
Name[af]=Aisleriot
Name[bg]=Айсълриот
Name[cs]=Pozdvižení v uličce
Name[eo]=Simpla
Name[hr]=PobunaUprolazu
Name[ko]=왕관
Name[ru]=ЭшлРиот (коллекция пасьянсов)
Name[sv]=Kyrkouppror
Name[uk]=Заколот на човні
Name[vi]= AisleRiot
Name[zu]=I-AisleRiot
Preview=11.png
PySol=yes
