[KDE Backdeck]
Name=AisleRiot
Name[af]=Aisleriot
Name[bg]=Айсълриот
Name[bn]=এইসলরায়োট
Name[cs]=Pozdvižení v uličce
Name[eo]=Simpla
Name[hi]=एस्लेरियॉट
Name[hr]=Pobuna u prolazu
Name[ko]=왕관
Name[lv]=Vienkāršs
Name[ru]=ЭшлРиот (коллекция пасьянсов)
Name[sv]=Kyrkouppror
Name[ta]= அய்ஸில்ரியாட்
Name[uk]=Заколот на човні
Name[vi]= AisleRiot
Name[zu]=I-AisleRiot
Preview=11.png
PySol=yes
