[KDE Backdeck]
Name=AisleRiot
Name[cs]=Pozdvižení v uličce
Name[eo]=Simpla
Name[is]=Óeirðir í Hagkaup
Name[ko]=왕관
Name[ru]=Остров
Name[sv]=Kyrkouppror
Name[uk]=Заколот на човні
Name[xh]=Uqhushululu lwesithuba phakathi kwemiqolo yezihlalo
Preview=11.png
PySol=yes
