[KDE Backdeck]
Name=XSkat German
Name[bg]=Немски модел
Name[cs]=Německý XSkat
Name[da]=XSkat-tysk
Name[de]=XSkat Deutsch
Name[es]=XSkat alemán
Name[et]=XSkat (Saksa)
Name[fr]=XSkat allemand
Name[hu]=Német XSkat
Name[is]=XSkat á þýsku
Name[it]=XSkat tedesco
Name[nl]=XSkat Duits
Name[pl]=Niemiecki skat
Name[pt]=XSkat Alemã
Name[pt_BR]=XSkat  Alemão
Name[ru]=Немецкий XSkat
Name[sl]=Nemški XSkat
Name[sr]=XSkat немачки
Name[sr@Latn]=XSkat немачки
Name[sv]=Tysk X-skat
Name[ta]=XSkat ஜெர்மன்
Name[tg]=XSkat Олмонӣ
Name[tr]=XSkat Almanca
Name[xx]=xxXSkat Germanxx
Name[zh_CN]=XSkat 德语
Preview=11.png
PySol=yes
