[KDE Backdeck]
Name=XSkat German
Name[be]=Нямецкі XSkat
Name[bg]=Немски модел
Name[bn]=জর্মন এক্স-স্কাট
Name[br]=XSkat alamanek
Name[bs]=XSkat Njemački
Name[ca]=XSkat alemany
Name[cs]=Německý XSkat
Name[cy]=XSkat Almaeneg
Name[da]=XSkat-tysk
Name[de]=XSkat Deutsch
Name[el]=XSkat Γερμανικό
Name[eo]=XSkat Germana
Name[es]=XSkat alemán
Name[et]=XSkat (Saksa)
Name[eu]=XSkat alemaniera
Name[fa]=آلمانی XSkat
Name[fi]=XSkat Saksa
Name[fr]=XSkat allemand
Name[he]=XSkat גרמני
Name[hr]=Njemački XSkat
Name[hu]=Német XSkat
Name[is]=XSkat á þýsku
Name[it]=XSkat tedesco
Name[ja]=XSkat ドイツ語
Name[km]=XSkat អាល្លឺម៉ង់
Name[ko]=독일 XSkat
Name[lt]=XSkat Vokiškai
Name[lv]=XSkat Vācu
Name[mk]=Германски XSkat
Name[nb]=Tysk XSkat
Name[nds]=XSkat (Düütsch)
Name[ne]=एक्स स्क्याट जर्मन
Name[nl]=XSkat Duits
Name[nn]=Tysk XSkat
Name[pa]=XSkat ਜਰਮਨ
Name[pl]=Niemiecki skat
Name[pt]=XSkat Alemã
Name[pt_BR]=XSkat Alemão
Name[ru]=Немецкий XSkat
Name[se]=Duiskkalaš XSkat
Name[sk]=XScat nemecký
Name[sl]=Nemški XSkat
Name[sr]=XSkat немачки
Name[sr@Latn]=XSkat nemački
Name[sv]=Tysk X-skat
Name[ta]=XSkat ஜெர்மன்
Name[tg]=XSkat Олмонӣ
Name[tr]=XSkat Almanca
Name[uk]=Німецький XSkat
Name[zh_CN]=XSkat 德语
Name[zh_TW]=XSkat 德語
Preview=11.png
PySol=yes
