[KDE Backdeck]
Name=XSkat German
Name[bg]=Немски модел
Name[bn]=জর্মন এক্স-স্কাট
Name[br]=XSkat alamanek
Name[bs]=XSkat Njemački
Name[ca]=XSkat alemany
Name[cs]=Německý XSkat
Name[cy]=XSkat Almaeneg
Name[da]=XSkat-tysk
Name[de]=XSkat Deutsch
Name[es]=XSkat alemán
Name[et]=XSkat (Saksa)
Name[eu]=XSkat alemaniera
Name[fi]=XSkat Saksa
Name[fr]=XSkat allemand
Name[he]=XSkat גרמני
Name[hi]=एक्सस्कात जर्मन
Name[hu]=Német XSkat
Name[is]=XSkat á þýsku
Name[it]=XSkat tedesco
Name[ja]=XSkat ドイツ語
Name[mk]=Германски XSkat
Name[nb]=Tysk XSkat
Name[nl]=XSkat Duits
Name[nn]=Tysk XSkat
Name[pl]=Niemiecki skat
Name[pt]=XSkat Alemã
Name[pt_BR]=XSkat Alemão
Name[ru]=Немецкий XSkat
Name[sk]=XScat nemecký
Name[sl]=Nemški XSkat
Name[sr]=XSkat немачки
Name[sr@Latn]=XSkat nemački
Name[sv]=Tysk X-skat
Name[ta]=XSkat ஜெர்மன்
Name[tg]=XSkat Олмонӣ
Name[tr]=XSkat Almanca
Name[uk]=Німецький XSkat
Name[zh_CN]=XSkat 德语
Preview=11.png
PySol=yes
