[KDE Backdeck]
Name=Spacy Classic (SVG)
Name[ca]=Spacy Clàssic (SVG)
Name[de]=Klassisch abgehoben (SVG)
Name[el]=Κλασικό διαστημικό (SVG)
Name[es]=Clásico espacial (SVG)
Name[fa]=کلاسیک Spacy )SVG(
Name[gl]=Espacio clásico (SVG)
Name[ko]=우주 고전 (SVG)
Name[ne]=उत्कृष्ट स्पेसी (एसभीजी)
Name[pt]=Clássico Espacial (SVG)
Name[pt_BR]=Clássico Espacial (SVG)
Name[sv]=Klassisk rymd (SVG)
Name[x-test]=xxSpacy Classic (SVG)xx
Name[zh_CN]=星海经典(SVG)
Name[zh_TW]=Spacy Classic（SVG）
Preview=11.png
SVG=classic.svg
BackSize=71.1155,95.4103
Default=true
Back=Ornamental (SVG)


