[KDE Backdeck]
Name=Spacy Classic (SVG)
Name[es]=Clásico espacial (SVG)
Name[x-test]=xxSpacy Classic (SVG)xx
Name[zh_TW]=Spacy Classic（SVG）
Preview=11.png
SVG=classic.svg
BackSize=71.1155,95.4103
