[KDE Backdeck]
Name=Blue Balloon
Name[af]=blou ballon
Name[az]=Göy Balon
Name[bs]=Plavi balon
Name[cs]=Modrý balón
Name[da]=Blå Ballon
Name[de]=Blauer Ballon
Name[el]=Μπλε Μπαλόνι
Name[eo]=Blua balono
Name[es]=Globo azul
Name[et]=Sinine õhupall
Name[fi]=Sininen pallo
Name[fr]=Ballon bleu
Name[hu]=kék léggömb
Name[is]=Blá blaðra
Name[it]=Pallone blu
Name[ja]=青風船
Name[ko]=파란 풍선
Name[lt]=Mėlynas balionas
Name[lv]=Zils Balons
Name[mt]=Bużżieqa Blu
Name[nb]=Blå ballong
Name[nl]=Blauwe ballon
Name[nn]=Blå ballong
Name[pl]=Niebieski balon
Name[pt]=Balão Azul
Name[pt_BR]=Balão Azul
Name[ro]=Balon albastru
Name[ru]=Воздушный шар
Name[sk]=Modrý balón
Name[sl]=Modri balon
Name[sr]=Plavi balon
Name[sv]=Blå ballong
Name[ta]=¿£Ä Àæý
Name[th]=ลูกโป่งสีฟ้า - K
Name[tr]=Mavi Balon
Name[uk]=Блакитна кулька
Name[ven]=Baloni lidala
Name[vi]=Bóng bay xanh 
Name[xh]=Ibhaloni eluhlaza (okwesibhaka-bhaka)
Name[xx]=xx
Name[zh_CN]=篮气球
Name[zh_TW]=藍氣球
Name[zu]=Ibhaloni eluhlaza (okwesibhaka-bhaka)
Preview=11.png
PySol=false
Comment=Card set supplied by Warwick Allison
Comment[af]=kaart stel verskaf deur warwick allison
Comment[ar]=مجموعة البطاقات من وارويك أليسون
Comment[az]=Warwick Allison tərəfindən düzəldilən kart dəstəsi
Comment[bg]=Колода карти от Warwick Allison
Comment[bs]=Špil je dostavio Warwick Allison
Comment[cs]=Sada karet od Warwicka Allisona
Comment[da]=Kortspil fra Warwick Allison
Comment[de]=Karten von Warwick Allison
Comment[el]=Σετ καρτών από τον Warwick Allison
Comment[eo]=Kartaro donita de Warwick Allison
Comment[es]=Juego de cartas suministrado por Warwick Allison
Comment[et]=Warwick Allison'i poolt pakutud kaardipakk
Comment[fi]=Warwick Allison toimittama korttipakka
Comment[fr]=Jeu de cartes fourni par Warwick Allison
Comment[he]=ערכת הקלפים סופקה על ידי וורויק אליסון
Comment[hu]=Warwick Allison kártyacsomagja
Comment[is]=Spilastokkur eftir Warwick Allison
Comment[it]=Mazzo di carte fornito da Warwick Allison
Comment[ja]=カードセット by Warwick Allison
Comment[lt]=Warwick Allison kortų rinkinys
Comment[lv]=Kāršu komplekts no Warwick Allison
Comment[mt]=Sett ta' karti mogħti minn Warwick Allison
Comment[nb]=Kortstokk levert av Warwick Allison
Comment[nl]=Kaartset, geleverd door Warwick Allison
Comment[nn]=Kortstokk frå Warwick Allison
Comment[pl]=Zestaw kart dostarczony przez Warwicka Allisona
Comment[pt]=Baralho de cartas fornecido por Warwick Allison
Comment[pt_BR]=Configurações do Cartão fornecido por Warwick Allison
Comment[ro]=Set de cărţi de joc de Warwick Allison
Comment[ru]=Колода карт от Warwick Allison
Comment[sk]=Balíček kariet od Warwicka Allisona
Comment[sl]=Nabor kart od Warwicka Allisona
Comment[sr]=Špil karata je obezbedio Varvik Alison
Comment[sv]=Kortuppsättning tillhandahållen av Warwick Allison
Comment[th]=ชุดไพ่สนับสนุนโดย Warwick Allison
Comment[tr]=Kart kümeleri Warwick Allison tarafından sağlanmıştır
Comment[uk]=Набір карт від Warwick Allison
Comment[ven]=U vhekanya ha garata ho diswa nga Warwick Allison
Comment[vi]=BềEthẻ được cung cấp bởi Warwick Allison 
Comment[xh]=Iqela lamakhadi lunikezelwe ngu Warwick Allison
Comment[xx]=xx
Comment[zh_CN]=牌局由 Warwick Allison 提供
Comment[zh_TW]=牌局由 Warwick Allison 提供
Comment[zu]=Isethi yamakhadi lunikezelwe ngu Warwick Allison
