[KDE Backdeck]
Name=Blue Balloon
Name[x-test]=xxBlue Balloonxx
Preview=11.png
PySol=false
Comment=Card set supplied by Warwick Allison
Comment[x-test]=xxCard set supplied by Warwick Allisonxx
