[KDE Backdeck]
Name=Blue Balloon
Name[af]=Blou Ballon
Name[ar]=بالون أزرق
Name[az]=Göy Balon
Name[bg]=Син балон
Name[bn]=নীল বেলুন
Name[br]=Boull glas
Name[bs]=Plavi balon
Name[ca]=Pilota blava
Name[cs]=Modrý balón
Name[cy]=Balwn Glas
Name[da]=Blå ballon
Name[de]=Blauer Ballon
Name[el]=Μπλε μπαλόνι
Name[eo]=Blua balono
Name[es]=Globo azul
Name[et]=Sinine õhupall
Name[eu]=Globo urdina
Name[fi]=Sininen pallo
Name[fr]=Ballon bleu
Name[gl]=Globo azul
Name[he]=בלון כחול
Name[hi]=ब्लू बलून
Name[hr]=Plavi balon
Name[hu]=Kék léggömb
Name[is]=Blá blaðra
Name[it]=Pallone blu
Name[ja]=青風船
Name[km]=បាល់​ខៀវ
Name[ko]=파란 풍선
Name[lt]=Mėlynas balionas
Name[lv]=Zili Baloni
Name[mk]=Син балон
Name[mt]=Bużżieqa Blu
Name[nb]=Blå ballong
Name[nl]=Blauwe ballon
Name[nn]=Blå ballong
Name[pa]=ਨੀਲਾ ਗੁਬਰਾ
Name[pl]=Niebieski balon
Name[pt]=Balão Azul
Name[pt_BR]=Balão Azul
Name[ro]=Balon albastru
Name[ru]=Воздушный шар
Name[sk]=Modrý balón
Name[sl]=Modri balon
Name[sr]=Плави балон
Name[sr@Latn]=Plavi balon
Name[sv]=Blå ballong
Name[ta]=நீல பலூன்
Name[tg]=Курраҳои Ҳавоӣ
Name[th]=ลูกโป่งสีฟ้า - K
Name[tr]=Mavi Balon
Name[uk]=Блакитна кулька
Name[ven]=Baloni la muvhala wa Lutombo 
Name[vi]=Bóng bay xanh 
Name[xh]=Ibhaluni eblowu
Name[xx]=xxBlue Balloonxx
Name[zh_CN]=蓝气球
Name[zh_TW]=藍色氣球
Name[zu]=Ibhelunde eliluhlaza
Preview=11.png
PySol=false
Comment=Card set supplied by Warwick Allison
Comment[af]=Kaart stel verskaf deur Warwick Allison
Comment[az]=Warwick Allison tərəfindən düzəldilən kart dəstəsi
Comment[bg]=Колода карти от Warwick Allison
Comment[bn]=কার্ডের সেট সরবরাহ করেছেন ওয়ারউইক এল্লিসন
Comment[bs]=Špil je dostavio Warwick Allison
Comment[ca]=Joc de cartes aportat per Warwick Allison
Comment[cs]=Sada karet od Warwicka Allisona
Comment[cy]=Set cerdiau wedi ei ddarparu gan Warwick Allison
Comment[da]=Kortspil fra Warwick Allison
Comment[de]=Karten von Warwick Allison
Comment[el]=Σετ καρτών από τον Warwick Allison
Comment[eo]=Kartaro donita de Warwick Allison
Comment[es]=Juego de cartas suministrado por Warwick Allison
Comment[et]=Warwick Allison'i poolt pakutud kaardipakk
Comment[eu]=Warwick Allison-ek emandako karta-sorta
Comment[fi]=Warwick Allison toimittama korttipakka
Comment[fr]=Jeu de cartes fourni par Warwick Allison
Comment[gl]=Baralla proporcionada por Warwick Allison
Comment[he]=ערכת הקלפים סופקה על ידי וורויק אליסון
Comment[hi]=ताश की गड्डी वारविक एलीसन द्वारा प्रदत्त किया गया
Comment[hr]=Set karata poklonio Warwick Allison
Comment[hu]=Warwick Allison kártyacsomagja
Comment[is]=Spilastokkur eftir Warwick Allison
Comment[it]=Mazzo di carte fornito da Warwick Allison
Comment[ja]=カードセット by Warwick Allison
Comment[km]=បៀរ​ត្រូវ​កំណត់​ផ្ដល់​ដោយ Warwick Allison
Comment[lt]=Warwick Allison kortų rinkinys
Comment[lv]=Kāršu komplekts no Warwick Allison
Comment[mk]=Комплетот карти е обезбеден од Ворвик Алисон (Warwick Allison)
Comment[mt]=Sett ta' karti mogħti minn Warwick Allison
Comment[nb]=Kortstokk levert av Warwick Allison
Comment[nl]=Kaartset, geleverd door Warwick Allison
Comment[nn]=Kortstokk frå Warwick Allison
Comment[pl]=Zestaw kart dostarczony przez Warwicka Allisona
Comment[pt]=Baralho de cartas fornecido por Warwick Allison
Comment[pt_BR]=Jogo de cartas fornecido por Warwick Allison
Comment[ro]=Set de cărţi de joc de Warwick Allison
Comment[ru]=Колода карт от Warwick Allison
Comment[sk]=Balíček kariet od Warwicka Allisona
Comment[sl]=Nabor kart od Warwicka Allisona
Comment[sr]=Шпил карата кога је обезбедио Варвик Алисон (Warwick Allison)
Comment[sr@Latn]=Špil karata koga je obezbedio Varvik Alison (Warwick Allison)
Comment[sv]=Kortuppsättning tillhandahållen av Warwick Allison
Comment[ta]=சீட்டுக்கட்டு வில்லியம் எலிசனால் அனுப்பப்பட்டது
Comment[tg]=Маҷмӯи Кортҳо, ки аз тарафи Warwick Allison пешниҳод шудаанд
Comment[th]=ชุดไพ่สนับสนุนโดย Warwick Allison
Comment[tr]=Kart kümeleri Warwick Allison tarafından sağlanmıştır
Comment[uk]=Набір карт від Warwick Allison
Comment[ven]=Garata yo diswa nga Warwick Allison
Comment[vi]=BềEthẻ được cung cấp bởi Warwick Allison 
Comment[xh]=Imfano nye yamakhadi inikwe ngu Warwick Allison
Comment[xx]=xxCard set supplied by Warwick Allisonxx
Comment[zh_CN]=牌面由 Warwick Allison 提供
Comment[zh_TW]=牌局由 Warwick Allison 提供
Comment[zu]=Iqoqo lamakhadi linikelwe ngu-Warwick Allison
