[KDE Backdeck]
Name=Paris (SVG)
Name[be]=Парыж (SVG)
Name[el]=Παρίσι (SVG)
Name[es]=París (SVG)
Name[fa]=پاریس (SVG)
Name[ja]=パリ (SVG)
Name[x-test]=xxParis (SVG)xx
Name[zh_TW]=巴黎（SVG）
Preview=11.png
SVG=paris.svgz
BackSize=59.204,92.8165
