[KDE Backdeck]
Name=Paris (SVG)
Name[be]=Парыж (SVG)
Name[el]=Παρίσι (SVG)
Name[x-test]=xxParis (SVG)xx
Preview=11.png
SVG=paris.svgz
BackSize=59.204,92.8165
