[KDE Backdeck]
Name=Paris (SVG)
Name[be]=Парыж (SVG)
Name[el]=Παρίσι (SVG)
Name[es]=París (SVG)
Name[fa]=پاریس (SVG)
Name[fi]=Pariisi (SVG)
Name[gl]=París (SVG)
Name[ja]=パリ (SVG)
Name[ko]=파리 (SVG)
Name[ne]=पेरिस (एसभीजी)
Name[x-test]=xxParis (SVG)xx
Name[zh_CN]=巴黎(SVG)
Name[zh_TW]=巴黎（SVG）
Preview=11.png
SVG=paris.svgz
BackSize=59.204,92.8165
Back=Ornamental (SVG)
