[KDE Backdeck]
Name=Penguins (SVG)
Name[el]=Πιγκουίνοι (SVG)
Name[et]=Pingviinid (SVG)
Name[pt]=Pinguins (SVG)
Name[pt_BR]=Pinguins (SVG)
Name[sv]=Pingviner (SVG)
Name[uk]=Пінгвіни (SVG)
Name[zh_TW]=企鵝（SVG）
SVG=penguins.svgz
Preview=11.png
Back=Penguin (SVG)
