[KDE Backdeck]
Name=Hard a Port
Name[af]=Hard 'n Poort
Name[bg]=Дамски
Name[bn]=হার্ড এ পোর্ট
Name[de]=Hart Backbord
Name[eo]=Tenta
Name[fa]=محکم کردن درگاه
Name[hi]=हार्ड ए पोर्ट
Name[hr]=Tvrdi na portu
Name[is]=Hart á bakborða
Name[it]=Donnine
Name[km]=ច្រក​រឹង
Name[ko]=폼 잡기 힘들다
Name[lv]=Rembrants
Name[nds]=Hatt Backboord
Name[pt_BR]=Duramente um Porto
Name[ro]=Licenţioase
Name[ru]=Пышка
Name[sr]=Хард-а-порт
Name[sr@Latn]=Hard-a-port
Name[sv]=Dikt babord
Name[ta]=முனையத்தை கடினமாக்கு
Name[tg]=Даргоҳи Сахт
Name[ven]=Port yo Khwathaho
Name[xh]=Izibuko Esport eqinileyo
Name[zu]=Qinisa isikhumulo
Preview=11.png
PySol=yes
