[KDE Backdeck]
Name=Nicu Ornamental
Name[el]=Διακοσμητικό Nicu
Name[nn]=Nicu – ornamental
Name[sr]=Нику орнаменти
Name[sr@latin]=Niku ornamenti
Name[sv]=Nicus dekorativa
Name[uk]=Орнамент Nicu
Name[zh_CN]=Nicu 植物装饰
Preview=11.png
SVG=ornamental.svgz
Back=Nicu Ornamental
