[KDE Backdeck]
Name=Nicu Ornamental (SVG)
Name[de]=Nicu Ornamente (SVG)
Name[el]=Διακοσμητικό Nicu (SVG)
Name[es]=Ornamental Nicu (SVG)
Name[gl]=Nicu de adorno (SVG)
Name[ne]=सजाइएको निकु (एसभीजी)
Name[sv]=Nicus dekorativa (SVG)
Name[x-test]=xxNicu Ornamental (SVG)xx
Name[zh_CN]=Nicu 植物装饰(SVG)
Name[zh_TW]=Nicu Ornamental（SVG）
Preview=11.png
SVG=ornamental.svgz
BackSize=139,189
