[KDE Backdeck]
Name=SVG Cards
Name[el]=Κάρτες SVG
Name[sv]=SVG-kortlekar
Name[uk]=Карти в SVG
Name[x-test]=xxSVG Cardsxx
Preview=11.png
SVG=ornamental.svgz
BackSize=139,189
