[KDE Backdeck]
Name=Dondorf
Name[bg]=Дондроф
Name[eo]=Bela
Name[hi]=डॉनड्रॉफ
Name[ko]=돈돌프
Name[ru]=Дондорф
Name[sr]=Дондорф
Name[ta]=டேன்டார்ஃப்
Name[xx]=xxDondorfxx
Name[zu]=I-Dondorf
Preview=11.png
PySol=yes
