[KDE Backdeck]
Name=Dondorf
Name[be]=Дандорф
Name[eo]=Bela
Name[ko]=돈돌프
Name[lv]=Dondorfa
Name[mk]=Дондорф
Name[ne]=डनडोर्फ
Name[ru]=Дондорф
Name[sr]=Дондорф
Name[ta]=டேன்டார்ஃப்
Name[tg]=Дондорф
Name[x-test]=xxDondorfxx
Preview=11.png
PySol=yes
BackSize=72,96
