[KDE Backdeck]
Name=Dondorf
Name[be]=Дандорф
Name[bg]=Дондроф
Name[bn]=ডনডর্ফ
Name[eo]=Bela
Name[hi]=डॉनड्रॉफ
Name[ko]=돈돌프
Name[lv]=Dondorfa
Name[mk]=Дондорф
Name[ne]=डनडोर्फ
Name[ru]=Дондорф
Name[sr]=Дондорф
Name[ta]=டேன்டார்ஃப்
Name[tg]=Дондорф
Name[zu]=I-Dondorf
Preview=11.png
PySol=yes
