[KDE Backdeck]
Name=Standard
Name[af]=Standaard
Name[az]=Standart
Name[bg]=Стандарт
Name[bn]=প্রমিত
Name[br]=Reoliek
Name[ca]=Estàndard
Name[cs]=Standardní
Name[cy]=Safonol
Name[eo]=Normala
Name[es]=Estándar
Name[fi]=Normaali
Name[ga]=Caighdeánach
Name[gl]=Estándar
Name[hi]=मानक
Name[is]=Staðlað
Name[ja]=標準
Name[ko]=표준
Name[lt]=Standartas
Name[lv]=Standarta
Name[mk]=Стандард
Name[nl]=Standaard
Name[nso]=Lekanetse
Name[pa]=ਮਿਆਰ
Name[pt]=Normal
Name[pt_BR]=Padrão
Name[ru]=Стандарт
Name[sk]=Štandard
Name[sr]=Стандардни
Name[sr@Latn]=Standardni
Name[ta]= தரம்
Name[tg]=Низоммеъёр
Name[th]=มาตรฐาน
Name[tr]=Standart
Name[uk]=Типові
Name[uz]=Андоза
Name[ven]=Murole
Name[vi]=Tiêu chuẩn 
Name[wa]=Sitandård
Name[xh]=Umgangatho
Name[xx]=xxStandardxx
Name[zh_CN]=标准
Name[zh_TW]=標準
Name[zu]=Okulingeneyo
Preview=11.png
PySol=false
Comment=Standard KDE card set\nGPL license
Comment[af]=Standaard Kde kaart stel\nGPL lisensie
Comment[az]=Standart KDE kart dəstəsi\nGPL license
Comment[bg]=Стандартна колода карти КДЕ\nОПЛ лиценз(GPL)
Comment[bn]=কেডিই-এর প্রমিত তাস সেট\nজিপিএল লাইসেন্স
Comment[bs]=Standardni KDE špil karata\nGPL license
Comment[ca]=Joc de cartes estàndard per al KDE sota\nLlicència GPL
Comment[cs]=Standardní sada karet KDE\nGPL licence
Comment[da]=Standard KDE-kortspil\nGPL-licens
Comment[de]=Standardmäßige KDE-Karten\GPL-Lizenz
Comment[el]=Προκαθορισμένο σετ καρτών του KDE\nΆδεια GPL
Comment[en_GB]=Standard KDE card set\nGPL licence
Comment[eo]=Normala KDEa kartaro\nGPL licenco
Comment[es]=Juego de cartas estándar de KDE\nLicencia GPL
Comment[et]=Standardne KDE kaardikomplekt\nGPL litsents
Comment[fi]=Normaali KDE:n korttipakka\nGPL lisenssi
Comment[fr]=Jeu de cartes standard de KDE\nLicence GPL
Comment[gl]=Baralla de cartas estándar de KDE\nGPL license
Comment[he]=ערכת הקלפים הסטנדרטית של KDE\nרישיון GPL
Comment[hi]=मानक केडीई ताश सेट\nजीपीएल अनुज्ञापत्र
Comment[hr]=Standardni KDE set karata\nGPL licenca
Comment[hu]=Standard KDE kártyacsomag\n(GPL licencű)
Comment[is]=Venjulegi KDE spilastokkurinn\nGPL leyfi
Comment[it]=Insieme di carte standard di KDE\nLicenza GPL
Comment[ja]=標準 KDE カードセット\nGPL ライセンス
Comment[ko]=표준 KDE 카드 모음\nGPL 라이센스
Comment[lt]=Standartinis KDE kortų rinkinys\nGPL licenzija
Comment[lv]=Standarta KDE kāršu komplekts\n GPL licenze
Comment[mk]=Стандарден комплет на карти во KDE\nGPL-лиценца
Comment[mt]=Mazz karti standard KDE\nliċenzja GPL
Comment[nb]=Standard KDE sett med kort\nGPL-lisens
Comment[nl]=Standaard KDE-kaartrug\nGPL-licentie
Comment[nn]=Standard KDE-kortstokk\nGPL-lisens
Comment[pl]=Standardowy zestaw kart KDE\nLicencja GPL
Comment[pt]=Baralho de cartas normal do KDE\nLicença GPL
Comment[pt_BR]=Jogo de cartas padrão do KDE\nLicença GPL
Comment[ro]=Set de cărţi KDE standard\nLicenţă GPL
Comment[ru]=Стандартная колода карт KDE\nGPL license
Comment[sk]=Štandardný balíček kariet KDE\nlicencia GPL
Comment[sl]=Standardni nabor kart v KDE\nLicenca GPL
Comment[sr]=Стандардни KDE-ов шпил карата\nGPL лиценца
Comment[sr@Latn]=Standardni KDE-ov špil karata\nGPL licenca
Comment[sv]=Förvald KDE-kortlek\nGPL-licens
Comment[ta]=நிலையான கேடிஇ சீட்டு அமைப்பு \nGPL இயக்க ஆணை
Comment[tg]=Маҷмӯи кортҳои низомии KDE\nлитсензияи GPL
Comment[th]=ชุดของเกมไพ่ของ KDE\nลิขสิทธิ์แบบ GPL
Comment[tr]=Standart KDE kart seti\nGPL lisansı
Comment[uk]=Типовий набір карт KDE\nліцензія GPL
Comment[ven]=U vhekanya ha magarata a KDE ya Murole\tendelo ya nGPL
Comment[vi]=Thẻ KDE tiêu chuẩn đặt \nGPL license
Comment[wa]=Cwårdjeus standård di KDE\ndizo licince GPL
Comment[xh]=Umgangatho wekhadi le KDE iqela lekhadi \nGPL imvumelwano
Comment[xx]=xxStandard KDE card set\nGPL licensexx
Comment[zh_CN]=标准 KDE 牌面\nGPL 授权
Comment[zh_TW]=標準 KDE 牌局\nGPL 授權
Comment[zu]=Iqoqo lamakhadi elilingeneyo le-KDE\n ilayisensi ye-GPL
