[KDE Backdeck]
Name=Ancient Egyptians
Name[ca]=Egipcis antics
Name[da]=Oldtidens egyptere
Name[de]=Antike Ägypter
Name[el]=Αρχαία Αίγυπτος
Name[es]=Los antiguos egipcios
Name[et]=Vana-Egiptus
Name[it]=Antichi egizi
Name[nds]=Ole Ägyptern
Name[nl]=Oude Egyptenaren
Name[nn]=Egypt i oldtida
Name[pt]=Antigo Egipto
Name[pt_BR]=Antigo Egito
Name[ru]=Древние Египтяне
Name[sl]=Starodavni Egipt
Name[sr]=Стари Египћани
Name[sr@latin]=Stari Egipćani
Name[sv]=Forntida egyptier
Name[tr]=Eski Mısırlılar
Name[uk]=Давні єгиптяни
Name[x-test]=xxAncient Egyptiansxx
Name[zh_CN]=古埃及
Name[zh_TW]=古埃及
Comment=An ancient Egyptian card deck.
Comment[ca]=Dorsal de baralla amb l'estil de l'antic egipte.
Comment[da]=Et oldtidsegyptisk kortspil
Comment[de]=Ein Blattdesign mit antiken Ägyptern.
Comment[el]=Τραπουλόχαρτα με αρχαίο αιγυπτιακό στυλ.
Comment[es]=Una baraja del antiguo Egipto.
Comment[et]=Vana-Egiptuse stiilis kaardipakk.
Comment[it]=Un dorso per carte egizio
Comment[nds]=En ooltägyptsch Koortenspeel
Comment[nl]=Een oud Egyptisch kaartspel
Comment[nn]=Egyptiske kort.
Comment[pt]=Um baralho de cartas do Antigo Egipto.
Comment[pt_BR]=Um baralho do antigo Egito.
Comment[ru]=Колода карт с Древним Египтом.
Comment[sl]=Hrbtne strani kart v egipčanskem slogu.
Comment[sr]=Староегипатски шпил карата
Comment[sr@latin]=Staroegipatski špil karata
Comment[sv]=En forntida egyptisk kortlek.
Comment[uk]=Єгипетський стиль сорочок карт.
Comment[x-test]=xxAn ancient Egyptian card deck.xx
Comment[zh_CN]=一个古埃及风格牌垛。
Comment[zh_TW]=古埃及牌面
Preview=11.png
SVG=Ancient_Egyptians.svgz
Back=Ancient Egyptians
Default=true
