[KDE Backdeck]
Name=Ancient Egyptians  (SVG)
Name[el]=Αρχαία Αίγυπτος (SVG)
Name[et]=Vana-Egiptus (SVG)
Name[ga]=Sean-Éigiptigh (SVG)
Name[pt]=Antigo Egipto (SVG)
Name[pt_BR]=Antigo Egipto (SVG)
Name[sv]=Forntida Egypten (SVG)
Name[uk]=Давні єгиптяни (SVG)
Name[x-test]=xxAncient Egyptians  (SVG)xx
Name[zh_TW]=古埃及（SVG）
Comment=An ancient Egyptian card deck.
Preview=11.png
SVG=Ancient_Egyptians.svgz
BackSize=
Default=true
