[KDE Backdeck]
Name=Ancient Egyptians
Comment=An ancient Egyptian card deck.
Preview=11.png
SVG=Ancient_Egyptians.svgz
Back=Ancient Egyptians
Default=true
