[KDE Backdeck]
Name=Tigullio International
Name[el]=Διεθνές Tigullio
Name[pt]=Tigullio Internacional
Name[pt_BR]=Tigullio Internacional
Name[sv]=Tigullio internationell
Preview=queen-of-hearts.png
SVG=tigullio-international.svgz
Back=Tigullio International

