[KDE Backdeck]
Name=Oxygen Air
Name[ca]=Oxygen Air
Name[ca@valencia]=Oxygen Air
Name[da]=Oxygen Air
Name[de]=Oxygen-Air
Name[en_GB]=Oxygen Air
Name[es]=Aire oxigenado
Name[nl]=Oxygen Air
Name[pt]=Ar do Oxygen
Name[pt_BR]=Ar do Oxygen
Name[uk]=Oxygen Air
Name[x-test]=xxOxygen Airxx
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
SVG=oxygen-air.svgz
Preview=11.png

