[KDE Backdeck]
Name=Oxygen Air
Name[pt]=Ar do Oxygen
Name[uk]=Oxygen Air
Name[x-test]=xxOxygen Airxx
Author=Eugene Trounev
AuthorEmail=eugene.trounev@gmail.com
SVG=oxygen-air.svgz
Preview=11.png

