[KDE Backdeck]
Name=Spaced
Name[af]=Gespasieer
Name[be]=Космас
Name[ca]=Espaiades
Name[cs]=Vesmír
Name[de]=Mit Abstand
Name[eo]=Komika
Name[es]=Espaciadas
Name[eu]=Tartea
Name[fr]=Spatial
Name[gl]=Espaciadas
Name[hu]=Űr
Name[is]=Speisað
Name[it]=Spaziale
Name[ko]=우주
Name[lv]=Kosmisks
Name[mk]=Раздалечени
Name[nb]=Rom-duell
Name[nds]=Afstand
Name[ne]=खाली स्थान
Name[nl]=Ruimtelijk
Name[pl]=Przestrzenny
Name[pt]=Espacial
Name[pt_BR]=Espaçado
Name[ro]=Spaţiat
Name[ru]=Космос
Name[sl]=Vesoljski dvoboj
Name[sr]=Размакнут
Name[sr@latin]=Razmaknut
Name[sv]=Spejsad
Name[ta]=இடம் விடப்பட்ட
Name[tg]=Кайҳонӣ
Name[tr]=Boşluklu
Name[uk]=Космічний
Name[x-test]=xxSpacedxx
Name[xh]=ukugqagqeneyo
Name[zh_CN]=空间
Preview=11.png
PySol=yes
BackSize=72,96
Back=Penguin

