[KDE Backdeck]
Name=Spaced
Name[af]=GESPASIEER
Name[az]=Boşluqlu
Name[cs]=Vesmír
Name[de]=Mit Abstand
Name[eo]=Komika
Name[es]=Espaciadas
Name[fr]=Spatial
Name[hu]=űr
Name[is]=Speisað
Name[mt]=Spazzjat
Name[nl]=Ruimtelijk
Name[no]=Rom-duell
Name[pl]=Przestrzenny
Name[pt]=Espacial
Name[sl]=Vesoljski dvoboj
Name[sv]=Spejsad
Name[tr]=Boşluklu
Name[uk]=Космічний
Preview=11.png
PySol=yes
