[KDE Backdeck]
Name=Konqi
Name[bg]=Конки
Name[bn]=কনকি
Name[cs]=Konqui
Name[eo]=Konĉja
Name[hi]=के-ऑन्गी
Name[it]=Konqui
Name[ko]=콩키
Name[lv]=Konkvi
Name[ru]=Конки
Name[sr]=Конки
Name[sr@Latn]=Konki
Name[ta]=கான்கி
Name[tg]=Конки
Name[zu]=I-Konqi
Preview=11.png
PySol=false
Comment=Modern Konqi - play the family carddeck\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKatie by Agnieszka Czajkowska\n     <agnieszka@imagegalaxy.de>\nKonqi by Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
