[KDE Backdeck]
Name=Konqi
Name[x-test]=xxKonqixx
Preview=11.png
PySol=false
Comment=Modern Konqi - play the family carddeck\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKatie by Agnieszka Czajkowska\n     <agnieszka@imagegalaxy.de>\nKonqi by Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[fr]=Konqi moderne - pour jouer aux cartes\nConception : Laura Layland\n     <l_layland@hotmail.com>\nKatie par Agnieszka Czajkowska\n     <agnieszka@imagegalaxy.de>\nKonqi par Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[x-test]=xxModern Konqi - play the family carddeck\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKatie by Agnieszka Czajkowska\n     <agnieszka@imagegalaxy.de>\nKonqi by Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>xx
BackSize=72,96
