[KDE Backdeck]
Name=Konqi
Name[cs]=Konqui
Name[eo]=Konĉja
Name[it]=Konqui
Name[ko]=콩키
Name[lv]=Konkvi
Preview=11.png
PySol=false
Comment=Modern Konqi - play the family carddeck\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKatie by Agnieszka Czajkowska\n     <agnieszka@imagegalaxy.de>\nKonqi by Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
