[Desktop Entry]
Version=0.1.0
Name=Fourteen Segment Sample
Name[ca]=Exemple de catorze segments
Name[ca@valencia]=Exemple de catorze segments
Name[da]=14-segmenters eksempel
Name[de]=Beispiel für Vierzehn Segmente
Name[el]=Δείγμα δεκατεσσάρων κομματιών
Name[en_GB]=Fourteen Segment Sample
Name[es]=Muestra de catorce segmentos
Name[et]=14 lõigu näidis
Name[eu]=Hamalau segmentuko lagina
Name[fa]=نمونه قطعه چهارده‌تایی
Name[fr]=Fourteen Segment Sample
Name[ga]=Fourteen Segment Sample
Name[gl]=Mostra de catorce segmentos
Name[hne]=फार्टीन सेगमेंट सेंपल
Name[hu]=Tizennégy szegmenses minta
Name[it]=Campione di quattordici segmenti
Name[km]=គំរូ​ចម្រៀក ១៤
Name[lv]=Četrpadsmit segmentu paraugs
Name[nb]=Fjorten biter-eksempel
Name[nds]=Veerteihn Delen
Name[ne]=चौध खण्ड नमूना
Name[nl]=Fourteen Segment Sample
Name[nn]=Fjorten bitar-eksempel
Name[pl]=Próbka czternastu segmentów
Name[pt]=Amostra de Catorze Segmentos
Name[pt_BR]=Exemplo de quatorze segmentos
Name[sk]=Štrnásť segmentov - ukážka
Name[sl]=Primer štirinajstih odsekov
Name[sr]=Четрнаестосегментни узорак
Name[sr@ijekavian]=Четрнаестосегментни узорак
Name[sr@ijekavianlatin]=Četrnaestosegmentni uzorak
Name[sr@latin]=Četrnaestosegmentni uzorak
Name[sv]=Fjortonsegment-sampling
Name[uk]=Fourteen Segment Sample
Name[x-test]=xxFourteen Segment Samplexx
Name[zh_CN]=十四分段示例
Name[zh_TW]=十四段範例
Type=FourteenSegmentDigit
Comment=This file holds metadata, configuration settings, and the mappings controlling which segments are on or off for the theme fourteen-segment-sample.svg
Comment[ca]=Aquest fitxer conté metadades, arranjament de configuració, i el mapejat per controlar els segments pel tema fourteen-segment-sample.svg
Comment[ca@valencia]=Este fitxer conté metadades, nfiguració de configuració, i el mapejat per controlar els segments pel tema fourteen-segment-sample.svg
Comment[da]=Denne fil indeholder metadata, konfigurationsindstillinger og kortlægning som styrer hvilke segmenter der er slået til eller fra for temaet fourteen-segment-sample.svg
Comment[de]=Diese Datei enthält Metadaten, Konfigurationseinstellungen und die Zuordnungen die kontrollieren, welche Segmente im Design „fourteen-segment-sample.svg“ ein- oder ausgeschaltet sein sollen.
Comment[el]=Αυτό το αρχείο διατηρεί μεταδεδομένα, ρυθμίσεις, και αντιστοιχίες που ελέγχουν τα ενεργά και μη ενεργά τμήματα του θέματος svg δεκατεσσάρων κομματιών
Comment[en_GB]=This file holds metadata, configuration settings, and the mappings controlling which segments are on or off for the theme fourteen-segment-sample.svg
Comment[es]=Este archivo contiene los metadatos, opciones de configuración, y control de mapeado incluyendo qué segmentos están activados para el tema Fourteen-segment-sample.svg
Comment[et]=See fail sisaldab metaandmeid, seadistusi ja seoseid, mis määravad, milliseid lõike näidatakse teema fourteen-segment-sample.svg puhul ja milliseid mitte
Comment[eu]=Fitxategi honek metadatuak, konfigurazioko ezarpenak, eta zein segmentu aktibatuta/desaktibatuta dagoen kontrolatzen duen mapaketak ditu fourteen-segment-sample.svg gaiarentzako.
Comment[fa]=این پرونده فراداده‌ها، تنظیمات پیکربندی، و نگاشتهایی که کنترل میکندکدام قطعه‌ها برای چهره  fourteen-segment-sample.svg روشن یا خاموش است را نگه می‌دارد.
Comment[fr]=Ce fichier contient les méta-données, les réglages, et les relations contrôlant quels segments sont actifs ou non pour le thème « fourteen-segment-sample.svg »
Comment[ga]=Is éard atá sa chomhad seo ná meiteashonraí, socruithe cumraíochta, agus na mapálacha a rialaíonn cé acu de na deighleáin atá ann nó as i dtéama fourteen-segment-sample.svg
Comment[gl]=Este ficheiro contén dados xerais, parámetros de configuración, e os mapas que controlan que segmentos están ou non activados no tema visual fourteen-segment-sample.svg
Comment[hu]=Ez a fájl tartalmazza a metaadatokat, a beállításokat, és hogy melyik szegmensek vannak bekapcsolva a fourteen-segment-sample.svg nevű témában
Comment[it]=Questo file contiene metadati, impostazioni di configurazione e le mappe che controllano quali segmenti sono attivi o inattivi per il tema fourteen-segment-sample.svg
Comment[km]=ឯកសារ​នេះ មាន​ទិន្នន័យ​មេតា ការ​កំណត់​រចនា​សម្ព័ន្ធ និង​ការ​ត្រួតពិនិត្យ​ការ​ផ្គូផ្គង​ដែល​ចម្រៀក​បិទ ឬ​បើក សម្រាប់​ស្បែក fourteen-segment-sample.svg
Comment[lv]=Šis fails satur metadatus, konfigurāciju un kartējumus, kas kontrolē, kuri segmenti ir ieslēgti vai izslēgti tēmai fourteen-segment-sample.svg
Comment[nds]=Disse Datei bargt de Metadaten, Instellen un Afbillen, de de an- un utmaakten Delen vun dat SVG-Muster Veerteihn Delen fastleggt.
Comment[ne]=यो फाइलले विषयवस्तु fourteen-segment-sample.svg का लागि खुला र बन्द हुने मेटाटाडेटा, कन्फिगरेसन सेटिङ, र मानचित्र नियन्त्रण राख्दछ ।
Comment[nl]=Dit bestand bevat metadata, configuratie-instellingen en de mappings die bepalen welke segementen aan of uit zijn voor het thema fourteen-segment-sample.svg
Comment[nn]=Denne fila inneheld metadata, innstillingar og informasjon om kva bitar som er på eller av i temaet «fourteen-segment-sample.svg».
Comment[pl]=Ten plik zawiera metadane, ustawienia i mapowania wskazujące które segmenty są włączone i wyłączone w motywie fourteen-segment-sample.svg
Comment[pt]=Este ficheiro contém os meta-dados, a configuração e os mapeamentos que controlam quais os segmentos activos ou não para o tema 'fourteen-segment-sample.svg'
Comment[pt_BR]=Este arquivo contém metadata, parâmetros de configuração e as definições que controlam quais segmentos estão ligados ou desligados para o exemplo svg do tema de quatorze segmentos
Comment[sk]=Tento súbor obsahuje metadáta, nastavenie konfigurácie a kontrolu priradenia segmentov pre tému fourteen-segment-sample.svg
Comment[sl]=Ta datoteka vsebuje meta podatke, nastavitve, in preslikave, ki nadzorujejo, kateri odseki so vključeni ali izključeni za temo fourteen-segment-sample.svg
Comment[sr]=Овај фајл садржи метаподатке, поставке и мапирања која одређују који су сегменти укључени у теми <filename>fourteen-segment-sample.svg</filename>
Comment[sr@ijekavian]=Овај фајл садржи метаподатке, поставке и мапирања која одређују који су сегменти укључени у теми <filename>fourteen-segment-sample.svg</filename>
Comment[sr@ijekavianlatin]=Ovaj fajl sadrži metapodatke, postavke i mapiranja koja određuju koji su segmenti uključeni u temi <filename>fourteen-segment-sample.svg</filename>
Comment[sr@latin]=Ovaj fajl sadrži metapodatke, postavke i mapiranja koja određuju koji su segmenti uključeni u temi <filename>fourteen-segment-sample.svg</filename>
Comment[sv]=Filen innehåller metadata, inställningar och avbildningar som styr vilka segment som är på eller av för temat Fjortonsegment-sampling.
Comment[uk]=Цей файл містить метадані, налаштування та відповідності для включення чи виключення частин з теми fourteen-segment-sample.svg
Comment[x-test]=xxThis file holds metadata, configuration settings, and the mappings controlling which segments are on or off for the theme fourteen-segment-sample.svgxx
Comment[zh_CN]=fourteen-segment-sample.svg 主题文件中含有控制元数据、设定配置、映射等元素的开启或关闭的片段
Comment[zh_TW]=此檔案包括十四段範例（fourteen-segment-sample.svg）的中繼資料、設定與對映控制每一段開關

[Settings]
foregroundColor=0xffffaa00
backgroundColor=0xff323232
foregroundHighlightColor=0xffff0000
backgroundHighlightColor=0xffeeeeec
ledOffSegmentAlphaLevel=10
letter-spacing=0
padding-top=5
padding-right=5
padding-bottom=0
padding-left=5
skewX=0
skewY=0
scaleX=1
scaleY=1
digitStyle=LedStyle
# cacheOption=CacheNone
# cacheOption=CacheAll
cacheOption=CachePreviouslyRendered
# cacheOption=CacheNumeralsOnly

[Digits]
blank=0000000000000000000
0=1111110000000000000
1=0110000000000000000
2=1101100010001000000
3=1111000010000000000
4=0110010010001000000
5=1011010010001000000
6=1011110010001000000
7=1110000000000000000
8=1111110010001000000
9=1111010010001000000

[Punctuation]
.=0000000000000000010
,=0000000000000000011
:=0000000000000010100
;=0000000000000010011
-=0000000000000001000

[Alpha]
A=1110110010001000000
B=1111001010100000000

