[Desktop Entry]
Version=0.1.0
Encoding=UTF-8
Name=Individual Digit Sample
Name[de]=Beispiel für einzelne Ziffern
Name[el]=Δείγμα ανεξάρτητου ψηφίου
Name[es]=Muestra de dígitos inviduales
Name[fa]=نمونه رقم منحصربفرد
Name[ne]=व्यक्तिगत अङ्क नमूना
Name[pt]=Amostra de Dígitos Individuais
Name[pt_BR]=Amostra de Dígitos Individuais
Name[sv]=Enstaka siffersampling
Name[x-test]=xxIndividual Digit Samplexx
Name[zh_CN]=个人数字示例
Name[zh_TW]=個人數位範例
Type=IndividualDigit
Comment=This file holds metadata, configuration settings, and the mappings between digit's and id's for the theme individual-digit-sample.svg
Comment[de]=Diese Datei enthält Metadaten, Konfigurationseinstellungen und die Zuordnungen zwischen Ziffern und den Bezeichnungen für das Design "individual-digit-sample.svg"
Comment[el]=Αυτό το αρχείο διατηρεί μεταδεδομένα, ρυθμίσεις, και αντιστοιχίες που ελέγχουν τα ενεργά και μη ενεργά τμήματα του θέματος svg δείγματος ανεξάρτητου ψηφίου
Comment[es]=Este archivo contiene los metadatos, opciones de configuración y los mapas entre los dígitos y su identificador para el tema individual-digit-sample.svg
Comment[fa]=این پرونده فراداده‌ها، تنظیمات پیکربندی، و نگاشتهای بین رقم یا شناسه را برای چهره individual-digit-sample.svg نگه می‌دارد.
Comment[ne]=यो फाइलले विषयवस्तु individual-digit-sample.svg का लागि अङ्क र आईडीको बीचमा मेटाडेटा, कन्फिगरेसन सेटिङ, र मानचित्र राख्दछ ।
Comment[nl]=Dit bestand bevat metadata, configuratie-instellingen en de mappings tussen cijfers en id's voor het thema individual-digit-sample.svg
Comment[pt]=Este ficheiro contém os meta-dados, a configuração e os mapeamentos entes os dígitos e os ID's do tema 'individual-digit-sample.svg'
Comment[pt_BR]=Este ficheiro contém os meta-dados, a configuração e os mapeamentos entes os dígitos e os ID's do tema 'individual-digit-sample.svg'
Comment[sv]=Filen innehåller metadata, inställningar och avbildningar som styr vilka segment som är på eller av för temat Enstaka siffersampling.
Comment[x-test]=xxThis file holds metadata, configuration settings, and the mappings between digit's and id's for the theme individual-digit-sample.svgxx
Comment[zh_CN]=individual-digit-sample.svg 主题文件中含有元数据、控制设定、数字间的映射以及 ID 号。
Comment[zh_TW]=此檔案包括個人數位範例（individual-digit-sample.svg）的中繼資料、設定與對映控制數位與代碼

[Settings]
foregroundColor=0xffffaa00
backgroundColor=0xff323232
foregroundHighlightColor=0xffff0000
backgroundHighlightColor=0xffeeeeec
ledOffSegmentAlphaLevel=10
letter-spacing=0
padding-top=5
padding-right=5
padding-bottom=0
padding-left=5
skewX=0
skewY=0
scaleX=1
scaleY=1
digitStyle=LcdStyle
# cacheOption=CacheNone
# cacheOption=CacheAll
cacheOption=CachePreviouslyRendered
# cacheOption=CacheNumeralsOnly

[Digits]
blank=blank
0=zero
1=one
2=two
3=three
4=four
5=five
6=six
7=seven
8=eight
9=nine

[Punctuation]
.=dot
,=comma
:=colon
;=semicolon
-=minus

[Alpha]
A=A
a=a

