[KDE Backdeck]
Name=Penguins
Name[af]=Pikkewyne
Name[az]=Pinqvinlər
Name[be]=Пінгвіны
Name[bg]=Пингвини
Name[bs]=Pingvini
Name[cs]=Tučňáci
Name[da]=Pingviner
Name[de]=Pinguine
Name[eo]=Pingvina
Name[es]=Pingüinos
Name[et]=Pingviinid
Name[eu]=Pinguinoak
Name[fi]=Pingviinit
Name[fr]=Pingouins
Name[hu]=pingvinek
Name[is]=Mörgæsir
Name[it]=Pinguini
Name[ko]=펭귄
Name[lt]=Pingvinai
Name[lv]=Pingvīni
Name[mt]=Pingwini
Name[nb]=Pingviner
Name[nl]=Pinguins
Name[nn]=Pingvinar
Name[pl]=Pingwiny
Name[pt]=Pinguins
Name[pt_BR]=Pinguins
Name[ro]=Pinguini
Name[ru]=Пингвины
Name[sk]=Tučniaci
Name[sl]=Pingvini
Name[sv]=Pingviner
Name[ta]=¦ÀýÌÂ¢ý¸û
Name[th]=เพนกวิน
Name[tr]=Penguenler
Name[uk]=Пінгвіни
Name[ven]=Zwinoni zwisa fhufhi
Name[vi]=Những chú chim cánh cụt
Name[xh]=Iintaka zolwandle ezingakwaziyo ukubhabha
Name[xx]=xx
Name[zh_CN]=企鹅
Name[zh_TW]=企鵝
Name[zu]=Amaphenguwinzi
Preview=11.png
PySol=yes
