[KDE Backdeck]
Name=Penguins
Name[af]=Pikkewyne
Name[az]=Pinqvinlər
Name[bg]=Пингвин
Name[bs]=Pingvini
Name[ca]=Pingüins
Name[cs]=Tučňáci
Name[da]=Pingviner
Name[de]=Pinguine
Name[el]=Πιγκουίνοι
Name[eo]=Pingvina
Name[es]=Pingüinos
Name[et]=Pingviinid
Name[eu]=Pinguinoak
Name[fi]=Pingviinit
Name[fr]=Pingouins
Name[gl]=Pingüíns
Name[hi]=पेंग्विन्स
Name[hr]=Pingvini
Name[hu]=Pingvinek
Name[is]=Mörgæsir
Name[it]=Pinguini
Name[ko]=펭귄
Name[lv]=Pingvīni
Name[mt]=Pingwini
Name[nb]=Pingviner
Name[nl]=Pinguins
Name[nn]=Pingvinar
Name[pl]=Pingwiny
Name[pt]=Pinguins
Name[pt_BR]=Pingüins
Name[ro]=Pinguini
Name[ru]=Пингвины
Name[sk]=Tučniaci
Name[sl]=Pingvini
Name[sr]=Пингвини
Name[sv]=Pingviner
Name[ta]=பென்குயின்கள்
Name[th]=เพนกวิน
Name[tr]=Penguenler
Name[uk]=Пінгвіни
Name[uz]=Пингвинлар
Name[vi]=Chim cánh cụt 
Name[xh]=iintaka zaselwandle
Name[xx]=xxPenguinsxx
Name[zh_CN]=企鹅
Name[zh_TW]=企鵝
Name[zu]=Izinyoni zasemanzini
Preview=11.png
PySol=yes
