[KDE Backdeck]
Name=Penguins
Name[af]=PIKKEWYNE
Name[az]=Pinqvinlər
Name[bg]=Пингвини
Name[cs]=Tučňáci
Name[da]=Pingviner
Name[de]=Pinguine
Name[eo]=Pingvina
Name[es]=Pingüinos
Name[et]=Pingviinid
Name[fi]=Pingviinit
Name[fr]=Pingouins
Name[hu]=pingvinek
Name[is]=Mörgæsir
Name[it]=Pinguini
Name[ko]=펭귄
Name[lt]=Pingvinai
Name[lv]=Pingvīni
Name[mt]=Pingwini
Name[nl]=Pinguins
Name[no]=Pingviner
Name[no_NY]=Pingvinar
Name[pl]=Pingwiny
Name[pt_BR]=Pinguins
Name[pt]=Pinguins
Name[ru]=Пингвины
Name[sk]=Tučniaci
Name[sl]=Pingvini
Name[sv]=Pingviner
Name[ta]=¦ÀýÌÂ¢ý¸û
Name[tr]=Penguenler
Name[uk]=Пінгвіни
Name[vi]=Chim cánh cụt 
Name[zh_CN.GB2312]=企鹅
Name[zh_TW.Big5]=企鵝
Preview=11.png
PySol=yes
