[KDE Backdeck]
Name=Oxygen-white (SVG)
Name[el]=Oxygen λευκό (SVG)
Name[sv]=Oxygen vit (SVG)
Preview=11.png
SVG=oxygen-white.svgz
BackSize=63.6686,93
