[KDE Backdeck]
Name=Oxygen White
Name[bs]=Oxygen bijela
Name[ca]=Oxygen-blanc
Name[ca@valencia]=Oxygen-blanc
Name[cs]=Oxygen - Bílý
Name[da]=Oxygen-hvid
Name[de]=Oxygen (weiß)
Name[el]=Oxygen λευκό
Name[en_GB]=Oxygen White
Name[es]=Oxígeno blanco
Name[et]=Valge Oxygen
Name[fi]=Valkoinen Oxygen
Name[fr]=Oxygen blanc
Name[ga]=Oxygen White
Name[gl]=Oxygen branco
Name[hu]=Oxigén (fehér)
Name[it]=Oxygen bianco
Name[kk]=Oxygen ақ
Name[km]=អុកស៊ីសែន​ ស
Name[ko]=Oxygen 흰색
Name[lv]=Oxygen White
Name[mr]=ऑक्सीजन पांढरा
Name[nb]=Oxygen hvit
Name[nds]=Oxygen-Witt
Name[nl]=Oxygen-wit
Name[nn]=Oksygen kvit
Name[pl]=Biały Oxygen
Name[pt]=Oxygen Branco
Name[pt_BR]=Oxygen branco
Name[ro]=Oxygen alb
Name[ru]=Белый Oxygen
Name[sk]=Oxygen - biely
Name[sl]=Kisik - bela
Name[sr]=Кисеоник‑бели
Name[sr@ijekavian]=Кисеоник-бијели
Name[sr@ijekavianlatin]=Kiseonik-bijeli
Name[sr@latin]=Kiseonik-beli
Name[sv]=Oxygen-vit
Name[tr]=Oxygen Beyaz
Name[uk]=Oxygen біла
Name[wa]=Blanc ocsidjinne
Name[x-test]=xxOxygen Whitexx
Name[zh_CN]=氧气-白
Name[zh_TW]=Oxygen White
Preview=11.png
SVG=oxygen-white.svgz
Back=Oxygen White
