[KDE Backdeck]
Name=Oxygen-white (SVG)
Name[ca]=Oxygen-blanc (SVG)
Name[de]=Oxygen weiss (SVG)
Name[el]=Oxygen λευκό (SVG)
Name[es]=Oxígeno blanco (SVG)
Name[ja]=Oxygen ホワイト (SVG)
Name[nl]=Oxygen-wit (SVG)
Name[pt]=Oxygen-branco (SVG)
Name[pt_BR]=Oxygen-branco (SVG)
Name[sv]=Oxygen vit (SVG)
Name[wa]=Blanc ocsidjinne (SVG)
Name[x-test]=xxOxygen-white (SVG)xx
Name[zh_CN]=Oxygen 白(SVG)
Name[zh_TW]=Oxygen-white（SVG）
Preview=11.png
SVG=oxygen-white.svg
BackSize=63.6686,93
Back=Oxygen (SVG)
