[KDE Backdeck]
Name=Cards (SVG, BROKEN)
Name[ca]=Cartes (SVG, BROKEN)
Name[de]=Karten (SVG, DEFEKT)
Name[el]=Χαρτιά (SVG, ΣΠΑΣΜΕΝΟ)
Name[es]=Tarjetas (SVG, ROTO)
Name[fa]=کارتها )SVG، BROKEN(
Name[fi]=Kortit (SVG, RIKKI)
Name[ga]=Cártaí (SVG, BROKEN)
Name[gl]=Cartar (SVG, TEN ERRO)
Name[ko]=카드 (SVG, 깨짐)
Name[ne]=ताश (SVG, विच्छेद)
Name[nl]=Cards (SVG, incompleet)
Name[pt]=Cartas (SVG, NÃO-FUNCIONAL)
Name[pt_BR]=Cartas (SVG, NÃO-FUNCIONAL)
Name[sv]=Kort (SVG, FELAKTIG)
Name[x-test]=xxCards (SVG, BROKEN)xx
Name[zh_CN]=纸牌(SVG，损坏)
Name[zh_TW]=紙牌（SVG, BROKEN）
Preview=11.png
SVG=svg-cards-2.0.svgz
BackSize=166.575,242.14
Back=Ornamental (SVG)
