[KDE Backdeck]
Name=Cards (SVG, BROKEN)
Name[el]=Χαρτιά (SVG, ΣΠΑΣΜΕΝΟ)
Name[es]=Tarjetas (SVG, ROTO)
Name[pt]=Cartas (SVG, NÃO-FUNCIONAL)
Name[pt_BR]=Cartas (SVG, NÃO-FUNCIONAL)
Name[sv]=Kort (SVG, FELAKTIG)
Name[x-test]=xxCards (SVG, BROKEN)xx
Name[zh_TW]=紙牌（SVG, BROKEN）
Preview=11.png
SVG=svg-cards-2.0.svgz
BackSize=166.575,242.14
