[KDE Cards]
Name=Oasis
Name[af]=oase
Name[az]=Oazis
Name[be]=Аазіс
Name[bg]=Оазис
Name[bs]=Oaza
Name[cs]=Oáza
Name[da]=Oase
Name[de]=Oase
Name[el]=Όαση
Name[eo]=Oazo
Name[et]=Oaas
Name[eu]=Oasia
Name[hu]=oázis
Name[is]=Vin
Name[it]=Oasi
Name[ko]=오아시스
Name[lt]=Oazė
Name[lv]=Oāze
Name[mt]=Oażi
Name[nb]=Oase
Name[nl]=Oase
Name[nn]=Oase
Name[pl]=Oaza
Name[pt]=Oásis
Name[pt_BR]=Oásis
Name[ru]=Оазис
Name[sk]=Oáza
Name[sl]=Oaza
Name[sr]=Oaza
Name[sv]=Oas
Name[ta]=À¡¨ÄÅÉî§º¡¨Ä
Name[th]=โอเอซิส
Name[tr]=Vaha
Name[uk]=Оазис
Name[vi]=Ốc đảo
Name[xh]=Indawo etyebileyo entlango enamanzi nemithi
Name[xx]=xx
Name[zh_CN]=绿洲
Name[zh_TW]=綠洲
Name[zu]=IOasis
