[KDE Cards]
Name=Dondorf
Name[af]=Dondorf
Name[be]=Дандорф
Name[bn]=ডনডর্ফ
Name[br]=Dondorf
Name[ca]=Dondorf
Name[ca@valencia]=Dondorf
Name[cs]=Dondorf
Name[cy]=Dondorf
Name[da]=Dondorf
Name[de]=Dondorf
Name[el]=Dondorf
Name[en_GB]=Dondorf
Name[eo]=Bela
Name[es]=Dondorf
Name[et]=Dondorf
Name[fr]=Dondorf
Name[ga]=Dondorf
Name[gl]=Dondorf
Name[he]=Dondorf
Name[hr]=Dondorf
Name[hu]=Dondorf
Name[is]=Dondorf
Name[it]=Dondorf
Name[lv]=Dondorfs
Name[mk]=Дондорф
Name[nb]=Dondorf
Name[nds]=Dondorf
Name[ne]=डनडोर्फ
Name[nl]=Dondorf
Name[nn]=Dondorf
Name[pl]=Dondorf
Name[pt]=Dondorf
Name[pt_BR]=Dondorf
Name[ro]=Dondorf
Name[ru]=Дондорф
Name[sk]=Dondorf
Name[sl]=Dondorf
Name[sr]=Дондорф
Name[sr@ijekavian]=Дондорф
Name[sr@ijekavianlatin]=Dondorf
Name[sr@latin]=Dondorf
Name[sv]=Dondorf
Name[ta]=டேன்டார்ஃப்
Name[tg]=Дондорф
Name[tr]=Dondorf
Name[uk]=Дондорф
Name[vi]=Dondorf
Name[wa]=Dondorf
Name[xh]=Dondorf
Name[x-test]=xxDondorfxx
Name[zh_CN]=Dondorf
Name[zh_TW]=Dondorf
Comment=SVG Dondorf
Comment[be]=Дандорф SVG
Comment[ca]=SVG Dondorf
Comment[ca@valencia]=SVG Dondorf
Comment[cs]=SVG Dondorf
Comment[da]=SVG Dondorf
Comment[de]=SVG-Dondorf
Comment[el]=SVG Dondorf
Comment[en_GB]=SVG Dondorf
Comment[eo]=SVG dondorf
Comment[es]=Dondorf SVG
Comment[et]=SVG Dondorf
Comment[eu]=SVG Dondorf
Comment[fa]=دوندورف
Comment[fi]=SVG Dondorf
Comment[fr]=Dondorf SVG
Comment[ga]=Dondorf SVG
Comment[gl]=Dondorf SVG
Comment[hne]=एसवीजी डानड्राफ
Comment[hu]=SVG Dondorf
Comment[it]=Dondorf SVG
Comment[ja]=SVG Dondorf
Comment[lt]=SVG Dondorf
Comment[lv]=SVG Dondorfs
Comment[nb]=SVG Dondorf
Comment[nds]=SVG Dondorf
Comment[ne]=एसभीजी डनडोर्फ
Comment[nl]=SVG Dondorf
Comment[nn]=SVG Dondorf
Comment[pl]=SVG Dondorf
Comment[pt]=Dondorf em SVG
Comment[pt_BR]=Dondorf em SVG
Comment[ro]=SVG Dondorf
Comment[ru]=SVG Дондорф
Comment[sk]=SVG Dondorf
Comment[sl]=Dondorf v obliki SVG
Comment[sr]=СВГ Дондорф
Comment[sr@ijekavian]=СВГ Дондорф
Comment[sr@ijekavianlatin]=SVG Dondorf
Comment[sr@latin]=SVG Dondorf
Comment[sv]=SVG Dondorf
Comment[tr]=SVG Dondorf
Comment[uk]=SVG Дондорф
Comment[wa]=Dondorf SVG
Comment[x-test]=xxSVG Dondorfxx
Comment[zh_CN]=SVG Dondorf
Comment[zh_TW]=SVG Dondorf
SVG=deck8.svgz
