[KDE Cards]
Name=Oxygen White
Name[ca]=Oxygen-blanc
Name[ca@valencia]=Oxygen-blanc
Name[cs]=Oxygen - Bílý
Name[da]=Oxygen-hvid
Name[de]=Oxygen (weiß)
Name[el]=Oxygen λευκό
Name[en_GB]=Oxygen White
Name[es]=Oxígeno blanco
Name[et]=Valge Oxygen
Name[fr]=Oxygen blanc
Name[ga]=Oxygen White
Name[gl]=Oxygen branco
Name[hu]=Oxygen (fehér)
Name[it]=Oxygen bianco
Name[lv]=Oxygen White
Name[nb]=Oxygen hvit
Name[nds]=Oxygen-Witt
Name[nl]=Oxygen-wit
Name[nn]=Oksygen kvit
Name[pl]=Biały Oxygen
Name[pt]=Oxygen Branco
Name[pt_BR]=Oxygen branco
Name[ru]=Белый Oxygen
Name[sk]=Oxygen - biely
Name[sl]=Kisik - bela
Name[sr]=Кисеоник‑бели
Name[sr@ijekavian]=Кисеоник-бијели
Name[sr@ijekavianlatin]=Kiseonik-bijeli
Name[sr@latin]=Kiseonik-beli
Name[sv]=Oxygen-vit
Name[tr]=Oxygen Beyaz
Name[uk]=Oxygen біла
Name[wa]=Blanc ocsidjinne
Name[x-test]=xxOxygen Whitexx
Name[zh_CN]=氧气-白
Name[zh_TW]=Oxygen White
Comment=SVG Oxygen
Comment[ast]=Oxíxenu SVG
Comment[ca]=SVG Oxygen
Comment[ca@valencia]=SVG Oxygen
Comment[cs]=SVG Oxygen
Comment[da]=SVG Oxygen
Comment[de]=SVG-Oxygen
Comment[el]=SVG Oxygen
Comment[en_GB]=SVG Oxygen
Comment[es]=Oxígeno SVG
Comment[et]=SVG Oxygen
Comment[eu]=SVG Oxygen
Comment[fa]=اکسیژن
Comment[fi]=Oxygen SVG-teema
Comment[fr]=SVG Oxygen
Comment[ga]=Oxygen SVG
Comment[gl]=Oxygen SVG
Comment[hne]=एसवीजी आक्सीजन
Comment[hu]=SVG Oxygen
Comment[it]=Oxygen SVG
Comment[ja]=SVG Oxygen
Comment[ko]=SVG Oxygen
Comment[lt]=SVG Oxygen
Comment[lv]=SVG Oxygen
Comment[nb]=SVG Oxygen
Comment[nds]=SVG Oxygen
Comment[nl]=SVG Oxygen
Comment[nn]=SVG Oksygen
Comment[pl]=Oxygen w SVG
Comment[pt]=Oxygen SVG
Comment[pt_BR]=Oxygen em SVG
Comment[ro]=SVG Oxygen
Comment[ru]=SVG Oxygen
Comment[sk]=SVG Oxygen
Comment[sl]=Kisik v vektorski obliki
Comment[sr]=СВГ Кисеоник
Comment[sr@ijekavian]=СВГ Кисеоник
Comment[sr@ijekavianlatin]=SVG Kiseonik
Comment[sr@latin]=SVG Kiseonik
Comment[sv]=SVG Oxygen
Comment[te]=ఎస్ వి జి ఆక్సీజన్
Comment[tr]=SVG Oxygen
Comment[uk]=SVG Oxygen
Comment[wa]=SVG Ocsidjinne
Comment[x-test]=xxSVG Oxygenxx
Comment[zh_CN]=SVG Oxygen
Comment[zh_TW]=SVG Oxygen
SVG=deck11.svgz
