[KDE Cards]
Name=Oxygen (SVG)
Name[es]=Oxígeno (SVG)
Name[ne]=अक्सिजन (एसभीजी)
Name[wa]=Ocsidjinne (SVG)
Name[x-test]=xxOxygen (SVG)xx
Name[zh_TW]=Oxygen（SVG）
SVG=deck28_oxygen.svgz
Comment=SVG Oxygen
Comment[es]=Oxígeno SVG
Comment[ga]=Oxygen SVG
Comment[pt]=Oxygen SVG
Comment[pt_BR]=Oxygen SVG
Comment[x-test]=xxSVG Oxygenxx
Default=false

