[KDE Cards]
Name=Classic Blue (SVG)
Name[et]=Klassikaline sinine (SVG)
Name[pt]=Azul Clássico (SVG)
Name[pt_BR]=Azul Clássico (SVG)
Name[sv]=Klassisk blå (SVG)
Name[uk]=Класичний блакитний (SVG)
Name[zh_TW]=古典藍（SVG）
SVG=deck1.svgz
