[KDE Cards]
Name=Bathing
Name[cs]=Koupel
Name[da]=Badning
Name[de]=Baden
Name[eo]=Banloko
Name[es]=Bañarse
Name[et]=Suplus
Name[fi]=Kylpy
Name[hu]=fürdő
Name[is]=Í baði
Name[it]=Balneare
Name[ko]=목욕
Name[lv]=Peldēšanās
Name[nl]=Badende
Name[no]=Bading
Name[no_NY]=Bad
Name[pt]=Banho
Name[ro]=Scăldat
Name[ru]=Купание
Name[sl]=Kopel
Name[sv]=Bad
Name[tr]=Yüzme
Name[uk]=Купання
Name[zh_CN.GB2312]=游泳
Name[zh_TW.Big5]=海泳
