[KDE Cards]
Name=Tristan
Name[be]=Трыстан
Name[eo]=Ornamo
Name[hu]=Trisztán
Name[ja]=トリスタン
Name[lv]=Tristans
Name[mk]=Тристан
Name[ne]=ट्रिस्टान
Name[pt]=Tristão
Name[ru]=Тристан
Name[sr]=Тристан
Name[ta]=ட்ரிஸ்டன்
Name[tg]=Тристан
Name[uk]=Трістан
Name[uz]=Тристан
Name[x-test]=xxTristanxx
Name[zh_CN]=特利斯坦
