[KDE Cards]
Name=Classic Red
Name[cs]=Klasická červená
Name[de]=Klassisches Rot
Name[el]=Κλασσικό Κόκκινο
Name[eo]=Klasika ruĝo
Name[es]=Rojo Clásico
Name[et]=Klassikaline punane
Name[fi]=Klassinen punainen
Name[fr]=Rouge classique
Name[he]=יסאלק םודא
Name[hu]=klasszikus vörös
Name[is]=Klassískur rauður
Name[it]=Rosso classico
Name[ja]=クラッシックレッド
Name[ko]=옛 빨간 무늬
Name[lt]=Klasikinė Raudona
Name[lv]=Klasiski Sarkans
Name[nl]=Klassiek rood
Name[no]=Klassisk Rød
Name[no_NY]=Klassisk raud
Name[pl]=Klasyczny czerwony
Name[pt]=Vermelho Clássico
Name[pt_BR]=Vermelho clássico
Name[ro]=Roşu clasic
Name[ru]=Классик-ред
Name[sk]=Klasické červené
Name[sl]=Klasična rdeča
Name[sv]=Klassisk röd
Name[tr]=Klasik Kırmızı
Name[uk]=Класичний червоний
Name[zh_CN.GB2312]=经典红
Name[zh_TW.Big5]=古典紅
