[KDE Cards]
Name=Holstentor
Name[be]=Палац
Name[eo]=Holsten-pordego
Name[lv]=Holšteina
Name[mk]=Холстентор
Name[nds]=Holstendoor
Name[ne]=होल्सटेन्टर
Name[ru]=Замок
Name[sr]=Холстентор
Name[ta]=ஹால்ஸ்டென்டர்
Name[tg]=Қулф
Name[uk]=Замок
Name[x-test]=xxHolstentorxx
