[KDE Cards]
Name=Technics
Name[fr]=Technique
Name[x-test]=xxTechnicsxx
Comment=Standard KDE card deck
Comment[fr]=Jeu de cartes standard de KDE
Comment[x-test]=xxStandard KDE card deckxx
