[KDE Cards]
Name=Diamond Tree (SVG)
Name[de]=Diamantenbaum (SVG)
Name[el]=Διαμαντένιο δέντρο (SVG)
Name[es]=Árbol de diamante (SVG)
Name[fr]=Arbre de diamants (SVG)
Name[gl]=Árbore de diamantes (SVG)
Name[it]=Albero dei diamanti (SVG)
Name[ja]=ダイヤモンドツリー (SVG)
Name[km]=មែកធាង Diamond (SVG)
Name[lt]=Deimantinis medis (SVG)
Name[lv]=Dimantu koks (SVG)
Name[nds]=Diamantenboom (SVG)
Name[nn]=Diamanttre (SVG)
Name[pt]=Árvore de Diamantes (SVG)
Name[pt_BR]=Árvore de Diamantes (SVG)
Name[sv]=Diamantträd (SVG)
Name[uk]=Діамантове дерево (SVG)
Name[x-test]=xxDiamond Tree (SVG)xx
Name[zh_CN]=钻石树(SVG)
Comment=Simple, yet visually pleasing card back
Comment[da]=Enkelt og dog synligt behageligt kortspil
Comment[de]=Ein einfaches, zugleich visuell ansprechendes Blattdesign
Comment[el]=Απλό και ταυτόχρονα ευχάριστο θέμα χαρτιών
Comment[es]=Simple, aunque visualmente agradable dorso de carta
Comment[et]=Lihtne, aga visuaalselt meeldiv kaardikujundus
Comment[fr]=Un dos de cartes simple, mais visuellement agréable
Comment[gl]=Reverso de cartas simples, pero agradábel á vista
Comment[it]=Dorso delle carte semplice ma gradevole all'aspetto
Comment[ja]=シンプルでありながら感じの良いカード裏側
Comment[km]=ធម្មតា សូម​ដក​កាត​ចេញ​វិញ
Comment[lv]=Vienkāršs, bet vizuāli pievilcīgs kāršu komplekts
Comment[nds]=Eenfach, man liekers smuck Koortenachtersiet
Comment[nl]=Eenvoudige, maar mooie kaarten
Comment[nn]=Enkel men fin kortbakside
Comment[pt]=Uma face traseira de baralhos simples mas agradável visualmente
Comment[pt_BR]=Um verso de baralho simples e agradável.
Comment[sl]=Preprosta, a nadvse zadovoljiva hrbtna stran kart
Comment[sv]=Enkel, men ändå visuellt behaglig kortbaksida
Comment[uk]=Простий, але привабливий на вигляд стиль сорочок карт.
Comment[x-test]=xxSimple, yet visually pleasing card backxx
Comment[zh_CN]=简单，却活灵活现的牌垛
Comment[zh_TW]=簡單，好看的撲克牌圖案
SVG=deck14.svgz
Comment=Simple, yet visually pleasing card back.
Comment[da]=Enkelt og dog synligt behageligt kortspil.
Comment[de]=Ein einfaches, zugleich visuell ansprechendes Blattdesign.
Comment[el]=Απλό και ταυτόχρονα ευχάριστο θέμα χαρτιών.
Comment[es]=Simple, aunque visualmente agradable dorso de carta.
Comment[et]=Lihtne, aga visuaalselt meeldiv kaardikujundus.
Comment[fr]=Un dos de cartes simple, mais visuellement agréable.
Comment[gl]=Reverso de cartas simples, pero agradábel á vista
Comment[it]=Dorso delle carte semplice ma gradevole all'aspetto.
Comment[ja]=シンプルでありながら感じの良いカード裏側
Comment[km]=ធម្មតា សូម​យកកាត​ចេញ​ ។
Comment[lv]=Vienkāršs, bet vizuāli pievilcīgs kāršu komplekts.
Comment[nds]=Eenfach, man liekers smuck Koortenachtersiet
Comment[nl]=Eenvoudige, maar mooie kaarten.
Comment[nn]=Enkel men fin kortbakside
Comment[pt]=Uma face traseira de baralhos simples mas agradável visualmente.
Comment[pt_BR]=Um verso de baralho simples e agradável.
Comment[sl]=Preprosta, a nadvse zadovoljiva hrbtna stran kart.
Comment[sv]=Enkel, men ändå visuellt behaglig kortbaksida.
Comment[uk]=Простий, але привабливий на вигляд стиль сорочок карт.
Comment[x-test]=xxSimple, yet visually pleasing card back.xx
Comment[zh_CN]=简单，却活灵活现的牌垛。
Comment[zh_TW]=簡單，好看的撲克牌圖案
Default=false

