[KDE Cards]
Name=Carpet
Name[af]=Tapyt
Name[az]=Xalı
Name[bg]=Килим
Name[bs]=Ćilim
Name[cs]=Koberec
Name[da]=Tæppe
Name[de]=Teppich
Name[el]=Μοκέτα
Name[eo]=Tapiŝo
Name[es]=Alfombra
Name[et]=Vaip
Name[eu]=Moketa
Name[fi]=Matto
Name[fr]=Tapis
Name[hr]=Tepih
Name[hu]=szőnyeg
Name[is]=Teppi
Name[it]=Tappeto
Name[ko]=양탄자
Name[lv]=Paklājs
Name[mt]=Tapit
Name[nb]=Teppe
Name[nl]=Tapijt
Name[nn]=Teppe
Name[pl]=Dywan
Name[pt]=Carpete
Name[pt_BR]=Carpete
Name[ro]=Carpetă
Name[ru]=Ковёр
Name[sl]=Preproga
Name[sr]=Tepih
Name[sv]=Matta
Name[th]=พรม
Name[tr]=Halı
Name[uk]=Килим
Name[ven]=Dzithovho
Name[vi]=Thảm 
Name[xh]=Ikhaphethi
Name[zh_CN]=地毯
Name[zh_TW]=地毯
Name[zu]=UKhaphethi
