[KDE Cards]
Name=Classic (SVG)
Name[be]=Класічны SVG
Name[el]=Κλασσικό (SVG)
Name[es]=Clásico (SVG)
Name[ja]=クラシック (SVG)
Name[pt]=Clássico (SVG)
Name[pt_BR]=Clássico (SVG)
Name[sv]=Klassisk (SVG)
Name[x-test]=xxClassic (SVG)xx
Name[zh_TW]=古典（SVG）
SVG=deck27_classic.svgz
Comment=SVG Classic
Comment[be]=Класічны SVG
Comment[el]=SVG Κλασσικό
Comment[es]=Clásico SVG
Comment[ja]=SVG クラシック
Comment[pt]=Clássico em SVG
Comment[pt_BR]=Clássico em SVG
Comment[sv]=SVG Klassisk
Comment[x-test]=xxSVG Classicxx
Comment[zh_TW]=SVG 古典
