[KDE Cards]
Name=Dondorf (SVG)
Name[be]=Дандорф (SVG)
Name[x-test]=xxDondorf (SVG)xx
SVG=deck25_dondorf.svgz
Comment=SVG Dondorf
Comment[be]=Дандорф SVG
Comment[x-test]=xxSVG Dondorfxx
