[KDE Cards]
Name=Oxygen
Name[es]=Oxígeno
Name[fa]=اکسیژن
Name[hne]=आक्सीजन
Name[km]=អុកស៊ីសែន
Name[mai]=आक्सीजन
Name[ne]=अक्सिजन
Name[nn]=Oksygen
Name[pa]=ਆਕਸੀਜਨ
Name[sl]=Kisik
Name[sr]=Кисеоник
Name[sr@latin]=Kiseonik
Name[te]=ఆక్సీజన్
Name[wa]=Ocsidjinne
Name[x-test]=xxOxygenxx
Comment=SVG Oxygen
Comment[de]=SVG-Oxygen
Comment[es]=Oxígeno SVG
Comment[fa]=اکسیژن
Comment[fi]=Oxygen SVG-teema
Comment[ga]=Oxygen SVG
Comment[gl]=Oxygen SVG
Comment[hne]=एसवीजी आक्सीजन
Comment[it]=Oxygen SVG
Comment[km]=អុកស៊ីសែន SVG
Comment[nn]=SVG Oksygen
Comment[pa]=SVG ਆਕਸੀਜਨ
Comment[pl]=Oxygen w SVG
Comment[pt]=Oxygen SVG
Comment[pt_BR]=Oxygen em SVG
Comment[sl]=Kisik v vektorski obliki
Comment[sr]=СВГ Кисеоник
Comment[sr@latin]=SVG Kiseonik
Comment[te]=ఎస్ వి జి ఆక్సీజన్
Comment[wa]=SVG Ocsidjinne
Comment[x-test]=xxSVG Oxygenxx
SVG=deck13.svgz
