[KDE Cards]
Name=Classic (SVG)
Name[be]=Класічны SVG
Name[ca]=Clàssic (SVG)
Name[de]=Klassisch (SVG)
Name[el]=Κλασσικό (SVG)
Name[eo]=Klasika (SVG)
Name[es]=Clásico (SVG)
Name[et]=Klassika (SVG)
Name[fa]=کلاسیک (SVG)
Name[fi]=Klassinen (SVG)
Name[gl]=Clásico (SVG)
Name[it]=Classico (SVG)
Name[ja]=クラシック (SVG)
Name[ko]=고전 (SVG)
Name[lv]=Klasisks (SVG)
Name[nds]=Klass'sch (SVG)
Name[ne]=उत्कृष्ट (एसभीजी)
Name[nl]=Klassiek (SVG)
Name[pl]=Klasyczny (SVG)
Name[pt]=Clássico (SVG)
Name[pt_BR]=Clássico (SVG)
Name[sl]=Klasično (SVG)
Name[sv]=Klassisk (SVG)
Name[uk]=Класична (SVG)
Name[wa]=Classike (SVG)
Name[x-test]=xxClassic (SVG)xx
Name[zh_CN]=经典 (SVG)
Name[zh_TW]=古典（SVG）
SVG=deck27_classic.svgz
Comment=SVG Classic
Comment[be]=Класічны SVG
Comment[ca]=SVG Clàssic
Comment[de]=SVG Klassisch
Comment[el]=SVG Κλασσικό
Comment[eo]=SVG klasika
Comment[es]=Clásico SVG
Comment[et]=SVG Klassika
Comment[fa]=SVG کلاسیک
Comment[fi]=SVG klassinen
Comment[ga]=Classic SVG
Comment[gl]=Clásico en SVG
Comment[it]=SVG classico
Comment[ja]=SVG クラシック
Comment[ko]=SVG 고전
Comment[lv]=SVG klasisks
Comment[nds]=SVG Klass'sch
Comment[ne]=उत्कृष्ट एसभीजी
Comment[nl]=SVG klassiek
Comment[pl]=Klasyczny w SVG
Comment[pt]=Clássico em SVG
Comment[pt_BR]=Clássico em SVG
Comment[sl]=Klasična v obliki SVG
Comment[sv]=SVG Klassisk
Comment[uk]=Класична SVG
Comment[wa]=Classike (SVG)
Comment[x-test]=xxSVG Classicxx
Comment[zh_CN]=SVG 经典
Comment[zh_TW]=SVG 古典
Default=true

