[KDE Cards]
Name=Modern Red
Name[af]=Moderne Rooi
Name[ar]=أحمر حديث
Name[az]=Çağdaş Qırmızı
Name[bg]=Модерно червено
Name[bn]=আধুনিক লাল
Name[bs]=Moderna crvena
Name[ca]=Vermell modern
Name[cs]=Moderní červená
Name[cy]=Coch Cyfoes
Name[da]=Moderne rød
Name[de]=Modernes Rot
Name[el]=Μοντέρνο κόκκινο
Name[eo]=Moderna ruĝo
Name[es]=Rojo moderno
Name[et]=Modernpunane
Name[eu]=Gorri modernoa
Name[fi]=Moderni punainen
Name[fr]=Rouge moderne
Name[gl]=Vermello moderno
Name[he]=אדום מודרני
Name[hi]=आधुनिक लाल
Name[hr]=Moderna crvena
Name[hu]=Modern vörös
Name[is]=Nútíma rauður
Name[it]=Rosso moderno
Name[ja]=モダンレッド
Name[km]=ពណ៌​ក្រហម​ទំនើប
Name[ko]=모던 빨간 무늬
Name[lt]=Moderni raudona
Name[lv]=Moderni Sarkans
Name[mk]=Модерно црвено
Name[mt]=Aħmar modern
Name[nb]=Moderne Rød
Name[nds]=Modern Root
Name[nl]=Modern rood
Name[nn]=Moderne raud
Name[pa]=ਨਵਾਂ ਲਾਲ
Name[pl]=Nowoczesny czerwony
Name[pt]=Vermelho Moderno
Name[pt_BR]=Vermelho Moderno
Name[ro]=Roşu modern
Name[ru]=Современный красный
Name[se]=Ođđaáigásaš ruoksat
Name[sk]=Moderné červené
Name[sl]=Moderna rdeča
Name[sr]=Модерни црвени
Name[sr@Latn]=Moderni crveni
Name[sv]=Modern röd
Name[ta]=நவீன சிகப்பு
Name[tg]=Сурхи Замонавӣ
Name[th]=แดงทันสมัย
Name[tr]=Modern Kırmızı
Name[uk]=Сучасний червоний
Name[ven]=Muvhala Mutshuku wa Tshizwino
Name[vi]=Màu đềEhiện đại 
Name[xh]=Umbala omtsha obomvu 
Name[zh_CN]=现代红
Name[zh_TW]=現代紅
Name[zu]=Ububomvu besimanje
