[KDE Cards]
Name=Ancient Egyptians Dark
Name[pt]=Antigo Egipto Escuro
Name[pt_BR]=Antigo Egipto Escuro
Name[sv]=Mörk forntida egyptier
Name[uk]=Давні єгиптяни (темна)
Comment=Egyptian dark style card back.
Comment[pt]=Faces traseiras das cartas com um estilo Egípcio escurecido.
Comment[pt_BR]=Faces traseiras das cartas com um estilo Egípcio escurecido.
Comment[sv]=Kortbaksidor med mörk egyptisk stil.
Comment[uk]=Єгипетський темний стиль сорочок карт.
SVG=deck17.svgz
default=false
