[KDE Cards]
Name=Dondorf (SVG)
Name[be]=Дандорф (SVG)
Name[fa]=دوندورف
Name[lv]=Dondorfa (SVG)
Name[ne]=डनडोर्फ
Name[ru]=Дондорф (SVG)
Name[uk]=Дондорф (SVG)
Name[zh_TW]=Dondorf（SVG）
Name[x-test]=xxDondorf (SVG)xx
SVG=deck8.svgz
Comment=SVG Dondorf
Comment[be]=Дандорф SVG
Comment[eo]=SVG dondorf
Comment[es]=Dondorf SVG
Comment[fa]=دوندورف
Comment[ga]=Dondorf SVG
Comment[it]=Dondorf SVG
Comment[lv]=SVG Dondorfs
Comment[ne]=एसभीजी डनडोर्फ
Comment[pt]=Dondorf em SVG
Comment[pt_BR]=Dondorf em SVG
Comment[ru]=SVG Дондорф
Comment[sl]=Dondorf v obliki SVG
Comment[uk]=SVG Дондорф
Comment[x-test]=xxSVG Dondorfxx
