[KDE Cards]
Name=Classic Red
Name[af]=Klasieke Rooi
Name[az]=Klassik Qırmızı
Name[bg]=Класическо червено
Name[bn]=ক্লাসিক লাল
Name[bs]=Klasični crveni
Name[ca]=Vermell clàssic
Name[cs]=Klasická červená
Name[da]=Klassisk Rød
Name[de]=Klassisches Rot
Name[el]=Κλασσικό κόκκινο
Name[eo]=Klasika ruĝo
Name[es]=Rojo clásico
Name[et]=Klassikaline punane
Name[fi]=Klassinen punainen
Name[fr]=Rouge classique
Name[gl]=Vermello clásico
Name[hi]=आदर्श लाल
Name[hr]=Klasična crvena
Name[hu]=klasszikus vörös
Name[id]=Merah klasik
Name[is]=Klassískur rauður
Name[it]=Rosso classico
Name[ja]=クラッシックレッド
Name[ko]=옛 빨간 무늬
Name[lv]=Klasiski Sarkans
Name[mt]=Aħmar Klassiku
Name[nb]=Klassisk Rød
Name[nl]=Klassiek rood
Name[nn]=Klassisk raud
Name[pl]=Klasyczny czerwony
Name[pt]=Vermelho Clássico
Name[pt_BR]=Vermelho Clássico
Name[ro]=Roşu clasic
Name[ru]=Классический красный
Name[sk]=Klasické červené
Name[sl]=Klasična rdeča
Name[sr]=Класични црвени
Name[sr@Latn]=Klasični crveni
Name[sv]=Klassisk röd
Name[ta]= சிறந்த சிகப்பு
Name[tg]=Сурхи Классикӣ
Name[th]=แดงคลาสสิค
Name[tr]=Klasik Kırmızı
Name[uk]=Класичний червоний
Name[ven]=Muvhala Mutshuku wa Maimo
Name[vi]=ĐềEcềEđiển 
Name[xh]=Umbala obomvu wakudala
Name[xx]=xxClassic Redxx
Name[zh_CN]=经典红
Name[zh_TW]=古典紅
Name[zu]=Ububomvu obuhle
