[KDE Cards]
Name=Romantic
Name[af]=ROMANTIESE
Name[az]=Romantik
Name[bg]=Романтика
Name[cs]=Romantika
Name[da]=Romantisk
Name[de]=Romantisch
Name[el]=Ρομαντικό
Name[eo]=Romantiko
Name[es]=Romántico
Name[et]=Romantika
Name[fi]=Romanttinen
Name[fr]=Romantique
Name[hu]=romantikus
Name[is]=Rómantískt
Name[it]=Romantico
Name[ko]=로맨틱
Name[lv]=Romantika
Name[mt]=Romantiku
Name[nl]=Romantisch
Name[no]=Romantisk
Name[no_NY]=Romantisk
Name[pl]=Romantyczny
Name[pt_BR]=Romântico
Name[pt]=Romântico
Name[ru]=Романтика
Name[sk]=Romantické
Name[sl]=Romantično
Name[sv]=Romantisk
Name[ta]=¸¡¾øÁÂÁ¡É
Name[uk]=Романтичний
Name[vi]=Lãng mạn 
Name[zh_CN.GB2312]=浪漫的
Name[zh_TW.Big5]=羅曼的
