[KDE Cards]
Name=Oxygen (SVG)
Name[es]=Oxígeno (SVG)
Name[fa]=اکسیژن
Name[km]=អុកស៊ីសែន (SVG)
Name[ne]=अक्सिजन (एसभीजी)
Name[te]=ఆక్సీజన్ (ఎస్ వి జి)
Name[wa]=Ocsidjinne (SVG)
Name[x-test]=xxOxygen (SVG)xx
Name[zh_TW]=Oxygen（SVG）
SVG=deck28_oxygen.svgz
Comment=SVG Oxygen
Comment[es]=Oxígeno SVG
Comment[fa]=اکسیژن
Comment[fi]=Oxygen SVG-teema
Comment[ga]=Oxygen SVG
Comment[gl]=Oxygen SVG
Comment[it]=Oxygen SVG
Comment[km]=អុកស៊ីសែន SVG
Comment[pl]=Oxygen w SVG
Comment[pt]=Oxygen SVG
Comment[pt_BR]=Oxygen em SVG
Comment[sl]=Oxygen v obliki SVG
Comment[te]=ఎస్ వి జి ఆక్సీజన్
Comment[x-test]=xxSVG Oxygenxx
Default=false

