[KDE Cards]
Name=Grandma
Name[af]=Ouma
Name[ar]=جدَة
Name[az]=Nənə
Name[be]=Бабуля
Name[bg]=Стар стил
Name[bn]=ঠাকুরমা, দাদী, নানী ইত্যাদি
Name[br]=Mamm-goz
Name[ca]=Àvia
Name[cs]=Babička
Name[cy]=Nain
Name[da]=Bedstemor
Name[de]=Großmutter
Name[el]=Γιαγιά
Name[eo]=Avinjo
Name[es]=Abuela
Name[et]=Vanaema
Name[eu]=Amona
Name[fi]=Isoäiti
Name[fo]=Omma
Name[fr]=Grand-mère
Name[gl]=Aboa
Name[he]=סבתא
Name[hi]=दादी अम्मा
Name[hr]=Baka
Name[hu]=Nagyi
Name[is]=Amma
Name[it]=Nonna
Name[km]=យាយ
Name[ko]=할머니
Name[lv]=Vecmāmiņa
Name[mk]=Старовремско
Name[mt]=Nanna
Name[nb]=Bestemor
Name[nds]=Oma
Name[ne]=हजुरआमा
Name[nl]=Grootmoeder
Name[nn]=Bestemor
Name[pl]=Babcia
Name[pt]=Avó
Name[pt_BR]=Vovó
Name[ro]=Bunica
Name[ru]=Бабуля
Name[se]=Áhkku
Name[sk]=Stará mama
Name[sl]=Babica
Name[sr]=Бака
Name[sr@Latn]=Baka
Name[sv]=Farmor
Name[ta]=பாட்டி
Name[tg]=Модаркалон
Name[tr]=Büyük anne
Name[uk]=Бабуся
Name[ven]=Makhulu vha mukegulu
Name[wa]=Grand-mere
Name[xh]=Umakhulu
Name[zh_CN]=祖母
Name[zh_TW]=祖母
Name[zu]=Ugogo
