[KDE Cards]
Name=Sunset
Name[af]=Sonsondergang
Name[be]=Заход
Name[bn]=সূর্যাস্ত
Name[br]=Kuzh-heol
Name[ca]=Posta de sol
Name[cs]=Západ slunce
Name[cy]=Machlud
Name[da]=Solnedgang
Name[de]=Sonnenuntergang
Name[el]=Ηλιοβασίλεμα
Name[eo]=Sunsubiro
Name[es]=Puesta de sol
Name[et]=Loojang
Name[eu]=Eguzki-sartzea
Name[fa]=غروب
Name[fi]=Auringonlasku
Name[fr]=Soleil
Name[ga]=Luí Gréine
Name[gl]=Entre lusco e fusco
Name[he]=שקיעה
Name[hr]=Zalazak sunca
Name[hu]=Naplemente
Name[is]=Sólsetur
Name[it]=Tramonto
Name[ja]=日没
Name[km]=សុរិយា​អស្ដង្គត
Name[ko]=저녁놀
Name[lt]=Saulėlydis
Name[lv]=Saullēkts
Name[mk]=Зајдисонце
Name[nb]=Solnedgang
Name[nds]=Sünnünnergang
Name[ne]=सुर्यास्त
Name[nl]=Zonsondergang
Name[nn]=Solrenning
Name[pa]=ਡੁੱਬਦਾ ਸੂਰਜ
Name[pl]=Zachód słońca
Name[pt]=Pôr-do-Sol
Name[pt_BR]=Pôr-do-sol
Name[ro]=Asfinţit
Name[ru]=Закат
Name[sk]=Západ slnka
Name[sl]=Sončni zahod
Name[sr]=Залазак сунца
Name[sr@latin]=Zalazak sunca
Name[sv]=Solnedgång
Name[ta]=சூரிய அஸ்தமம்
Name[te]=ప్రొద్దుగూకేవేళ
Name[tg]=Ғуруби Офтоб
Name[tr]=Gündoğumu
Name[uk]=Захід сонця
Name[uz]=Оқшом
Name[vi]=Hoàng hôn 
Name[wa]=Solea djus
Name[x-test]=xxSunsetxx
Name[xh]=Ukutshona kwelanga
Name[zh_CN]=日落
Name[zh_TW]=日落
