[KDE Cards]
Name=Starrise
Name[af]=starrise
Name[ar]=Starisse
Name[bg]=Звезден възход
Name[cs]=Úsvit
Name[de]=Sternenaufgang
Name[eo]=Stellumo
Name[et]=Tähetõus
Name[fi]=Tähdennousu
Name[fr]=Étoiles
Name[hu]=csillagok
Name[is]=Ris stjarna
Name[it]=Stelle
Name[ko]=별무리
Name[mt]=SemaStilel
Name[nb]=Stjerner
Name[nl]=Sterrijzenis
Name[nn]=Stjerner
Name[pl]=Wschód gwiazdy
Name[ro]=Stelar
Name[ru]=Восход звезды
Name[sk]=Východ hviezd
Name[sl]=Vzhod zvezde
Name[sr]=Sazvežđe
Name[sv]=Stjärnuppgång
Name[uk]=Схід зірки
Name[ven]=U bvelela ha makone
Name[xh]=Uphumo lwenkwenkwezi
Name[xx]=xx
Name[zh_CN]=星空
Name[zh_TW]=星空
Name[zu]=Ukuphuma kwenkanyezi
