[KDE Cards]
Name=Panda
Name[af]=PANDA
Name[bg]=Панда
Name[el]=Πάντα
Name[eo]=Pando
Name[hu]=panda
Name[is]=Panda björn
Name[ko]=팬더
Name[ru]=Панда
Name[ta]=Àý¼¡
Name[uk]=Панда
Name[vi]=Gấu mèo 
Name[zh_CN.GB2312]=熊猫
Name[zh_TW.Big5]=熊貓
Comment=Dedicated to WWF
Comment[af]=OPGEDRA  AAN WWF
Comment[az]=WWFyə hasr edilib
Comment[bg]=Посвещава се на WWF
Comment[cs]=Věnované WWF
Comment[da]=Dedikeret til WWF
Comment[de]=Dem WWF gewidmet
Comment[el]=Αφιερωμένο στο WWF
Comment[eo]=Dediĉita al WWF
Comment[es]=Dedicado a WWF
Comment[et]=Pühendatud organisatsioonile WWF
Comment[fi]=Omistettu WWF:lle
Comment[fr]=Dédié au WWF
Comment[he]=תימלועה ןרקל שדקומ
Comment[hu]=A WWF-nek dedikálva
Comment[is]=Tileinkað WWF  :-o
Comment[it]=Dedicato al WWF
Comment[ja]=WWFに捧ぐ
Comment[lt]=Skirta WWF
Comment[lv]=Izdalīts uz WWF
Comment[mt]=Dedikat lill-WWF
Comment[nl]=Opgedragen aan WWF
Comment[no_NY]=Tileigna WWF
Comment[pl]=Przeznaczony do WWF
Comment[pt_BR]=Dedicado ao WWF
Comment[pt]=Dedicado ao WWF
Comment[ru]=посвящается WWF
Comment[sk]=Venované WWF
Comment[sl]=Posvečeno WWF
Comment[sr]=Posvećeno WWF-u
Comment[sv]=Dedikerad till WWF
Comment[tr]=WWF'e adanmış
Comment[uk]=Присвячено WWF
Comment[vi]=Dâng tặng WWF 
Comment[zh_CN.GB2312]=献给 WWF
