[KDE Cards]
Name=Beach
Name[af]=strand
Name[az]=Çimərlik
Name[bg]=Плаж
Name[bs]=Plaža
Name[cs]=Pláž
Name[da]=Strand
Name[de]=Strand
Name[el]=Παραλία
Name[eo]=Plaĝo
Name[es]=Playa
Name[et]=Rand
Name[eu]=Hondartza
Name[fi]=Ranta
Name[fr]=Plage
Name[hu]=tengerpart
Name[is]=Strönd
Name[it]=Spiaggia
Name[ko]=바닷가
Name[lt]=Paplūdimys
Name[lv]=Pludmale
Name[mt]=Ramla
Name[nb]=Strand
Name[nl]=Strand
Name[nn]=Strand
Name[pl]=Plaża
Name[pt]=Praia
Name[pt_BR]=Praia
Name[ro]=Plajă
Name[ru]=Пляж
Name[sk]=Pláž
Name[sl]=Obala
Name[sr]=Plaža
Name[sv]=Strand
Name[ta]=¸¼ü¸¨Ã
Name[th]=อ่าว
Name[tr]=Sahil
Name[uk]=Пляж
Name[ven]=Lwanzhe
Name[vi]=Bãi biển 
Name[xh]=Ulwandle
Name[xx]=xx
Name[zh_CN]=海滩
Name[zh_TW]=海灘
Name[zu]=Ulwandle
