[KDE Cards]
Name=Tristan
Name[af]=Tristan
Name[be]=Трыстан
Name[bn]=ত্রিস্তান
Name[br]=Tristan
Name[ca]=Tristan
Name[ca@valencia]=Tristan
Name[cs]=Tristan
Name[cy]=Tristan
Name[da]=Tristan
Name[de]=Tristan
Name[el]=Tristan
Name[en_GB]=Tristan
Name[eo]=Ornamo
Name[es]=Tristán
Name[et]=Tristan
Name[eu]=Tristan
Name[fi]=Tristan
Name[fr]=Tristan
Name[ga]=Tristan
Name[gl]=Tristán
Name[he]=Tristan
Name[hne]=ट्राईस्टान
Name[hr]=Tristan
Name[hu]=Trisztán
Name[is]=Tristan
Name[it]=Tristan
Name[ja]=トリスタン
Name[km]=Tristan
Name[ko]=Tristan
Name[lt]=Tristan
Name[lv]=Tristans
Name[mk]=Тристан
Name[nb]=Tristan
Name[nds]=Tristan
Name[ne]=ट्रिस्टान
Name[nl]=Tristan
Name[nn]=Tristan
Name[pl]=Tristan
Name[pt]=Tristão
Name[pt_BR]=Tristan
Name[ro]=Tristan
Name[ru]=Тристан
Name[se]=Tristan
Name[sk]=Tristan
Name[sl]=Tristan
Name[sr]=Тристан
Name[sr@ijekavian]=Тристан
Name[sr@ijekavianlatin]=Tristan
Name[sr@latin]=Tristan
Name[sv]=Tristan
Name[ta]=ட்ரிஸ்டன்
Name[te]=ట్రిస్టాన్
Name[tg]=Тристан
Name[tr]=Tristan
Name[uk]=Тристан
Name[uz]=Tristan
Name[uz@cyrillic]=Тристан
Name[vi]=Tristan
Name[wa]=Tristan
Name[xh]=Tristan
Name[x-test]=xxTristanxx
Name[zh_CN]=特利斯坦
Name[zh_TW]=Tristan
SVG=deck4.svgz
