[KDE Cards]
Name=Konqi
Name[af]=konqi
Name[cs]=Konqui
Name[eo]=Konĉja
Name[it]=Konqui
Name[ko]=콩키
Name[lv]=Konkvi
Name[ru]=Конки
Name[xx]=xx
Comment=Modern Konqi - play the family carddeck\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKonqi by Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
