[KDE Cards]
Name=Copy
Name[af]=Kopie
Name[az]=Köçür
Name[bg]=Ръка
Name[bn]=কপি
Name[bs]=Kopiraj
Name[ca]=Còpia
Name[cs]=Kopie
Name[da]=Kopi
Name[de]=Kopie
Name[eo]=Mano
Name[es]=Copia
Name[et]=Koopia
Name[eu]=Kopiatu
Name[fi]=Kopio
Name[fo]=Avrit
Name[fr]=Copie
Name[gl]=Copia
Name[hi]=प्रतिलिपि
Name[hr]=Kopija
Name[hu]=Másolás
Name[id]=Salin
Name[is]=Afrit
Name[it]=Impronta
Name[ja]=コピー
Name[ko]=복사한 손
Name[lv]=Kopēt
Name[mk]=Копирај
Name[mt]=Kopja
Name[nb]=Kopier
Name[nl]=Hand
Name[nn]=Kopi
Name[pl]=Kopia
Name[pt]=Cópia
Name[pt_BR]=Cópia
Name[ro]=Copie
Name[ru]=Отпечаток
Name[sl]=Prepis
Name[sr]=Копија
Name[sr@Latn]=Kopija
Name[sv]=Kopia
Name[ta]=படியெடு
Name[tg]=Нақш
Name[tr]=Kopyala
Name[uk]=Копія
Name[uz]=Нусха
Name[ven]=Tshikopololwa
Name[wa]=Copyî
Name[xh]=Ukukopa
Name[xx]=xxCopyxx
Name[zh_CN]=复制
Name[zh_TW]=復制品
Name[zu]=Khiphela
