[KDE Cards]
Name=Konqi
Name[af]=Konqi
Name[ast]=Konqi
Name[be]=Конкі
Name[bn]=কনকি
Name[br]=Konqi
Name[bs]=Konqi
Name[ca]=Konqi
Name[ca@valencia]=Konqi
Name[cs]=Konqui
Name[cy]=Konqi
Name[da]=Konqi
Name[de]=Konqi
Name[el]=Konqi
Name[en_GB]=Konqi
Name[eo]=Konĉja
Name[es]=Konqi
Name[et]=Konqi
Name[eu]=Konqi
Name[fa]=کانکی
Name[fi]=Konqi
Name[fr]=Konqi
Name[ga]=Konqi
Name[gl]=Konqi
Name[he]=Konqi
Name[hne]=कान्क्वी
Name[hr]=Konqi
Name[hu]=Konqi
Name[is]=Konqi
Name[it]=Konqui
Name[ja]=Konqi
Name[km]=Konqi
Name[ko]=Konqi
Name[lt]=Konqi
Name[lv]=Konqi
Name[mk]=Konqi
Name[nb]=Konqi
Name[nds]=Konqi
Name[ne]=कोन्क्वी
Name[nl]=Konqi
Name[nn]=Konqi
Name[pa]=Konqi
Name[pl]=Konqi
Name[pt]=Konqi
Name[pt_BR]=Konqi
Name[ro]=Konqi
Name[ru]=Конки
Name[se]=Konqi
Name[sk]=Konqi
Name[sl]=Konqi
Name[sr]=Конки
Name[sr@ijekavian]=Конки
Name[sr@ijekavianlatin]=Konki
Name[sr@latin]=Konki
Name[sv]=Konqi
Name[ta]=கான்கி
Name[tg]=Конки
Name[tr]=Konqi
Name[uk]=Конкі
Name[uz]=Konqi
Name[uz@cyrillic]=Konqi
Name[vi]=Konqi
Name[wa]=Konqi
Name[xh]=Konqi
Name[x-test]=xxKonqixx
Name[zh_CN]=Konqi 恐龙
Name[zh_TW]=Konqi
Comment=Modern Konqi - play the family carddeck\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKonqi by Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[ast]=Konqi modernu -xuega cola baraxa familiar\nDiseñu: Laura Layland\n <l_layland@hotmail.com>\nKonqi por Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[bn]=আধুনিক কনকি - একটি পারিবারিক তাস খেলা\nডিজাইন: লরা লেল্যান্ড\n <l_layland@hotmail.com>\nকনকি: স্টিফেন স্পাজ\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[bs]=Moderni Konqi - pusti porodični dek\nDizajn: Laura Layland\n     <l_layland@hotmail.com>\nKonqi od Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[ca]=Konqi modern - jugueu amb la baralla familiar\nDisseny: Laura Layland\n     <l_layland@hotmail.com>\nKonqi per Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[ca@valencia]=Konqi modern - jugueu amb la baralla familiar\nDisseny: Laura Layland\n     <l_layland@hotmail.com>\nKonqi per Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[cs]=Moderní Konqi - hrajte rodinnou hru\nNávrh: Laura Laylanda\n <l_layland@hotmail.com>\nKonqiho vytvořil Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[cy]=Set cerdiau cyfoes Konqi - chwarae yn erbyn y teulu\nDylunio:Laura Layland\n <l_layland@hotmail.com>\nKonqi gan Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[da]=Modern Konqi - spil familiekortspillet\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKonqi by Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[de]=Modernes Konqi – Spielen Sie das Familienspiel\nDesign: Laura Laylanda\n     <l_layland@hotmail.com>\nKonqi von Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[el]=Μοντέρνος Konqi - play the family θέμα καρτών\nΣχεδίαση: Laura Layland\n <l_layland@hotmail.com>\nKonqi από Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[en_GB]=Modern Konqi - play the family carddeck\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKonqi by Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[eo]=Moderna Konĉjo - ludu per la familiokartaro\nDesegno: Laura Layland\n <l_layland@hotmail.com>\nKonĉjo de Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[es]=Konqi moderno - juegue con la baraja familiar\nDiseño: Laura Layland\n <l_layland@hotmail.com>\nKonqi por Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[et]=Modern Konqi - play the family carddeck\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKonqi: Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[eu]=Konqi modernoa - kartetan jokatzeko\nDiseinua: Laura Layland\n <l_layland@hotmail.com>\nKonqi-ren egilea Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[fa]=Konqi مدرن - بازی خانوادگی carddeck\nطرح: لورا \n     لایلند <l_layland@hotmail.com>\nKonqi توسط استفان اسپاتز\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[fi]=Moderni Konqi - perheen korttipakka\nSuunnittelu: Laura Layland\n <l_layland@hotmail.com>\nKonqi: Stefan Spatza\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[fr]=Konqi moderne - pour jouer aux cartes\nConception : Laura Layland\n     <l_layland@hotmail.com>\nKonqi par Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[ga]=Konqi Nua-Aimseartha - imir leis an deic clainne\nDearadh: Laura Layland\n     <l_layland@hotmail.com>\nKonqi le Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[gl]=Konqi moderno, xoga coa baralla familiar\nDeseño: Laura Layland\n     <l_layland@hotmail.com>\nKonqi, obra de Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[he]=קונקי מודרני - חפיסת קלים לכל השפחה\nעיצוב: Laura Layland\n <l_layland@hotmail.com>\nKonqi by Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[hne]=आधुनिक कान्क्वी- पारिवारिक तास गड्डी वाले खेल खेलव\nडिजाइन: लारा लेलैन्ड\n <l_layland@hotmail.com>\nकान्क्वी स्टीफन स्पात्ज द्वारा\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[hr]=Suvremeni Konqi – obiteljska igra s kartama\nDizajn: Laura Layland\n     <l_layland@hotmail.com>\nKonqi: Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[hu]=Modern Konqi - családi kártyacsomag\nTervezte: Laura Layland\n     <l_layland@hotmail.com>\nKonqi: Stefan Spatz\n    <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[is]=Comment=Nútíma Konqi - spilastokkur fjölskyldunnar\nHönnun: Laura Layland\n    <l_layland@hotmail.com>\nKonqi e. Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[it]=Konqui moderno - carte per famiglia\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKonqi di Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[ja]=モダン Konqi - ファミリ向けカードデッキ\nデザイン: Laura Layland\n     <l_layland@hotmail.com>\nKonqi の作者: Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[km]=Konqi ទំនើប- លេង​ carddeck ជា​លក្ខណ​គ្រួសារ\nរចនា​ឡើង​ដោយ​៖ Laura Layland\n     <l_layland@hotmail.com>\nKonqi ដោយ Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[lt]=Moderni Konqi – žaiskite šeimos kortų žaidimą\nDizainas: Laura Layland\n <l_layland@hotmail.com>\nKatie by Agnieszka Czajkowska\n <agnieszka@imagegalaxy.de>\n
Comment[lv]=Modernais Konqui - spēlēt pie ģimenes kāršu galda\n Dizains: Laura Layland\n\n <l_layland@hotmail.com>\n Konqui autors Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[mk]=Модерен Konqi - играјте со семејниот шпил карти\nДизајн: Laura Layland\n<l_layland@hotmail.com>\nKatie од Agnieszka Czajkowska\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[nb]=Moderne Konqi – familiekortstokken\nUtforming: Laura Layland\n     <l_layland@hotmail.com>\nKonqi av Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerxburg.de>
Comment[nds]=Modern Konqi - Speel mit de Familienkoorten\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKonqi vun Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[ne]=आधुनिक क्वोन्की - कार्डडेक परिवार खेल्नुहोस्\nDesign: लाउरा लेल्यान्ड\n     <l_layland@hotmail.com>\nKonqi, स्टेफन स्पाट्जद्वारा\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[nl]=Modern Konqi - speel met de familie-kaartdek\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKonqi door Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[nn]=Moderne Konqi – familiekortstokken\nUtforming: Laura Layland\n     <l_layland@hotmail.com>\nKonqi av Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerxburg.de>
Comment[pl]=Nowoczesny Konqi - zagraj w grę rodzinną\nProjekt: Laura Laylanda\n <l_layland@hotmail.com>a\nKonqi: Stefan Spatza\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[pt]=Konqi Moderno - o baralho de cartas familiar\nConcepção: Laura Layland\n <l_layland@hotmail.com>\nKonqi por Stefan Spatza\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[pt_BR]=Konqi Moderno - jogue com o baralho da família\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKonqi por Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[ro]=Konqi modern - cărțile de joc ale familiei\nDesign: Laura Layland\n    <l_layland@hotmail.com>\nKonqi de Stefan Spatz\n       <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[ru]=Колода с семейством Конки\nДизайн: Лаура Лейлэнд (Laura Layland)\n     <l_layland@hotmail.com>\nКонки нарисован Штефаном Спартцом (Stefan Spatz)\n        <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[sk]=Moderný Konqi - hrajte rodinné kartové hry\nDesign: Laura Laylanda\n <l_layland@hotmail.com>a\nKonqi od Stefana Spatza\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[sl]=Moderni Konqi - igrajte z družinskim kupom kart\nOblikovanje: Laura Layland\n <l_layland@hotmail.com>\nKonqi od Stefana Spatza\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[sr]=Модеран Конки — играјте са породичним шпилом\nДизајн: Лора Лејланд\n    <l_layland@hotmail.com>\nКонки: Штефан Шпац\n      <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[sr@ijekavian]=Модеран Конки — играјте са породичним шпилом\nДизајн: Лора Лејланд\n    <l_layland@hotmail.com>\nКонки: Штефан Шпац\n      <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[sr@ijekavianlatin]=Moderan Konki — igrajte sa porodičnim špilom\nDizajn: Lora Lejland\n    <l_layland@hotmail.com>\nKonki: Štefan Špac\n      <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[sr@latin]=Moderan Konki — igrajte sa porodičnim špilom\nDizajn: Lora Lejland\n    <l_layland@hotmail.com>\nKonki: Štefan Špac\n      <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[sv]=Modern Konqi - spela familjens kortlek\nDesign: Laura Layland\n <l_layland@hotmail.com>\nKonqi av Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[ta]=மார்டன் கான்கி - குடும்பச் சீட்டுத் தளத்தை விளையாடு\nவடிவமைப்பு: லௌரா லேலாண்டு\n      <l_layland@hotmail.com>\nKonqi by Stefan Spatz\n      <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[tr]=Modern Konqi - aile kart destesiyle oyna\nTasarım: Laura Layland\n <l_layland@hotmail.com>\nKonqi logosu: Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[uk]=Сучасний Конкі — зіграйте у сімейні карти\nРозробка: Laura Layland\n     <l_layland@hotmail.com>\nKatie від Agnieszka Czajkowska\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[wa]=Modiene Konqi - cwårdjeus des familes\nDessins: Laura Layland\n     <l_layland@hotmail.com>\nKonqi pa Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[x-test]=xxModern Konqi - play the family carddeck\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKonqi by Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>xx
Comment[zh_CN]=现代 Konqi - 牌垛类游戏\n设计：Laura Layland\n <l_layland@hotmail.com>\nStefan Spatz 的 Konqi\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[zh_TW]=現代 Konqi - 玩家庭牌局\n設計︰Laura Layland...<l_layland@hotmail.com>\nKonqi by Stefan Spatz...<stefan.spatz@stud-mail.uni-wuerzburg.de>
SVG=deck7.svgz
