[KDE Cards]
Name=Konqi
Name[be]=Конкі
Name[bg]=Конки
Name[cs]=Konqui
Name[eo]=Konĉja
Name[it]=Konqui
Name[ko]=콩키
Name[lv]=Konvi
Name[ne]=कोन्क्वी
Name[ru]=Конки
Name[sr]=Конки
Name[sr@Latn]=Konki
Name[ta]=கான்கி
Name[tg]=Конки
Name[uk]=Конкі
Name[x-test]=xxKonqixx
Comment=Modern Konqi - play the family carddeck\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKonqi by Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
