[KDE Cards]
Name=Ornamental (SVG)
Name[de]=Ornamente (SVG)
Name[el]=Διακοσμητικό (SVG)
Name[fr]=Ornemental (SVG)
Name[ga]=Ornáideach (SVG)
Name[gl]=De adorno (
Name[it]=Ornamentale (SVG)
Name[ja]=装飾的 (SVG)
Name[km]=គ្រឿង​តុបតែង (SVG)
Name[lv]=Ornaments (SVG)
Name[nds]=Smuck (SVG)
Name[ne]=सजाइएको (एसभीजी)
Name[pl]=Ornamenty (SVG)
Name[sl]=Okrasno (SVG)
Name[sv]=Dekorativ (SVG)
Name[uk]=Орнамент (SVG)
Name[x-test]=xxOrnamental (SVG)xx
Name[zh_CN]=饰物(SVG)
Name[zh_TW]=Ornamental（SVG）
SVG=deck26_ornamental.svg
Comment=SVG Ornamental
Comment[de]=SVG Ornamente
Comment[el]=Διακοσμητικό SVG
Comment[es]=Ornamental SVG
Comment[fr]=SVG Ornemental
Comment[ga]=Ornáideach SVG
Comment[gl]=De adorno (SVG)
Comment[it]=Ornamentale SVG
Comment[ja]=SVG 装飾的
Comment[km]=គ្រឿង​តុបតែង SVG
Comment[lv]=SVG ornaments
Comment[nds]=SVG Smuck
Comment[ne]=सजाइएको एसभीजी
Comment[nn]=SVG ornamental
Comment[pl]=Ornamenty w SVG
Comment[pt]=Ornamental com SVG
Comment[sl]=Okrasna tema v obliki SVG
Comment[sv]=SVG Dekorativ
Comment[uk]=SVG Орнамент
Comment[x-test]=xxSVG Ornamentalxx
Comment[zh_CN]=SVG 饰物
