[KDE Cards]
Name=Chin
Name[af]=Ken
Name[az]=Çənə
Name[cs]=Brada
Name[eo]=Vizaĝo
Name[eu]=Txina
Name[fr]=Visage
Name[hr]=Brada
Name[is]=Haka
Name[it]=Mento
Name[ja]=中国
Name[ko]=턱
Name[lv]=Zods
Name[nl]=Kin
Name[pl]=Podbródek
Name[ro]=Bărbie
Name[ru]=Помада
Name[sl]=Džin
Name[sr]=Brada
Name[sv]=Pingla
Name[tr]=Çene
Name[uk]=Теревені
Name[ven]=Tshitefu
Name[xh]=Isilevu
Name[zh_CN]=头像
Name[zh_TW]=中國
Name[zu]=Isilevu
