[KDE Cards]
Name=Nicu Ornamental
Name[de]=Nicu-Verzierung
Name[el]=Διακοσμητικό Nicu
Name[es]=Ornamental Nicu
Name[fr]=Ornemental Nicu
Name[it]=Ornamentale Nicu
Name[nl]=Nicu Ornamentaal
Name[nn]=Nicu – ornamental
Name[sr]=Нику орнаменти
Name[sr@latin]=Niku ornamenti
Name[sv]=Nicus dekorativa
Name[uk]=Орнамент Nicu
Name[x-test]=xxNicu Ornamentalxx
Name[zh_CN]=Nicu 植物装饰
Comment=SVG Ornamental
Comment[cs]=SVG ornamentály
Comment[de]=SVG-Verzierung
Comment[el]=Διακοσμητικό SVG
Comment[es]=Ornamental SVG
Comment[eu]=SVG apaingarria
Comment[fr]=Ornemental SVG
Comment[ga]=Ornáideach SVG
Comment[gl]=De adorno (SVG)
Comment[hne]=एसवीजी सोभायमान
Comment[hu]=SVG Díszes
Comment[it]=Ornamentale SVG
Comment[ja]=SVG 装飾的
Comment[km]=គ្រឿង​តុបតែង SVG
Comment[lv]=SVG ornaments
Comment[nds]=SVG Smuck
Comment[ne]=सजाइएको एसभीजी
Comment[nn]=SVG ornamental
Comment[pl]=Ornamenty w SVG
Comment[pt]=Ornamental com SVG
Comment[ru]=SVG Декоративный
Comment[sl]=Okrasna tema v obliki SVG
Comment[sr]=СВГ орнаменти
Comment[sr@latin]=SVG ornamenti
Comment[sv]=SVG Dekorativ
Comment[uk]=SVG Орнамент
Comment[x-test]=xxSVG Ornamentalxx
Comment[zh_CN]=SVG 饰物
SVG=deck9.svgz
