[KDE Cards]
Name=Classic Blue
Name[af]=Klasieke Blou
Name[ar]=Clasic Blue
Name[az]=Klassik Göy
Name[be]=Клясычная блакітная
Name[bg]=Клаческо-Синьо
Name[bs]=Klasični plavi
Name[cs]=Klasická modrá
Name[de]=Klassisches Blau
Name[el]=Κλασσικό Μπλε
Name[eo]=Klasika bluo
Name[es]=Azul clásico
Name[et]=Klassikaline sinine
Name[fi]=Klassinen sininen
Name[fr]=Bleu classique
Name[hu]=klasszikus kék
Name[id]=Biru klasik
Name[is]=Klassískur blár
Name[it]=Blu classico
Name[ja]=クラッシックブルー
Name[ko]=옛 파란 무늬
Name[lt]=Klasikinė mėlyna
Name[lv]=Klasiski Zils
Name[mt]=Blu Klassiku
Name[nb]=Klassisk Blå
Name[nl]=Klassiek blauw
Name[nn]=Klassisk blå
Name[pl]=Klasyczny niebieski
Name[pt]=Azul Clássico
Name[pt_BR]=Azul clássico
Name[ro]=Albastru clasic
Name[ru]=Классик-блю
Name[sk]=Klasické modré
Name[sl]=Klasična modra
Name[sr]=Klasični plavi
Name[sv]=Klassisk blå
Name[ta]=º¢Èó¾ ¿£Äõ
Name[th]=ฟ้าคลาสสิค
Name[tr]=Klasik Mavi
Name[uk]=Класичний блакитний
Name[ven]=Zwidala zwakalenyana
Name[vi]=Màu xanh cổ điển
Name[xh]=Uhlobo oluluhlaza (okwesibhaka-bhaka)
Name[xx]=xx
Name[zh_CN]=经典蓝
Name[zh_TW]=古典藍
Name[zu]=Classic Okuluhlaza
