[KDE Cards]
Name=Konqi
Name[be]=Конкі
Name[bn]=কনকি
Name[cs]=Konqui
Name[eo]=Konĉja
Name[fa]=کانکی
Name[hne]=कान्क्वी
Name[it]=Konqui
Name[ne]=कोन्क्वी
Name[ru]=Конки
Name[sr]=Конки
Name[sr@latin]=Konki
Name[ta]=கான்கி
Name[te]=కాంకి
Name[tg]=Конки
Name[uk]=Конкі
Name[x-test]=xxKonqixx
Name[zh_CN]=Konqi 恐龙
Comment=Modern Konqi - play the family carddeck\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKonqi by Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[bn]=আধুনিক কনকি - একটি পারিবারিক তাস খেলা\nডিজাইন: লরা লেল্যান্ড\n <l_layland@hotmail.com>\nকনকি: স্টিফেন স্পাজ\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[ca]=Konqi modern - jugueu amb la baralla familiar\nDisseny: Laura Layland\n     <l_layland@hotmail.com>\nKonqi per Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[cs]=Moderní Konqi - hrajte rodinnou hru\nNávrh: Laura Laylanda\n <l_layland@hotmail.com>\nKonqiho vytvořil Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[cy]=Set cerdiau cyfoes Konqi - chwarae yn erbyn y teulu\nDylunio:Laura Layland\n <l_layland@hotmail.com>\nKonqi gan Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[da]=Modern Konqi - spil familiekortspillet\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKonqi by Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[de]=Modernes Konqi - Spielen Sie das Familienspiel\nDesign: Laura Laylanda\n     <l_layland@hotmail.com>\nKonqi von Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[el]=Μοντέρνος Konqi - play the family θέμα καρτών\nΣχεδίαση: Laura Layland\n <l_layland@hotmail.com>\nKonqi από Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[eo]=Moderna Konĉjo - ludu per la familiokartaro\nDesegno: Laura Layland\n <l_layland@hotmail.com>\nKonĉjo de Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[es]=Konqi moderno - juegue con la baraja familiar\nDiseño: Laura Layland\n <l_layland@hotmail.com>\nKonqi por Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[et]=Modern Konqi - play the family carddeck\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKonqi: Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[eu]=Konqi modernoa - kartetan jokatzeko\nDiseinua: Laura Layland\n <l_layland@hotmail.com>\nKonqi-ren egilea Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[fa]=Konqi مدرن - بازی خانوادگی carddeck\nطرح: لورا \n     لایلند <l_layland@hotmail.com>\nKonqi توسط استفان اسپاتز\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[fi]=Moderni Konqi - perheen korttipakka\nSuunnittelu: Laura Layland\n <l_layland@hotmail.com>\nKonqi: Stefan Spatza\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[fr]=Konqi moderne - pour jouer aux cartes\nConception : Laura Layland\n     <l_layland@hotmail.com>\nKonqi par Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[ga]=Konqi Nua-Aimseartha - imir leis an deic clainne\nDearadh: Laura Layland\n     <l_layland@hotmail.com>\nKonqi le Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[gl]=Konqi moderno - xogue coa baralla familiar\nDeseño: Laura Layland\n <l_layland@hotmail.com>\nKonqi por Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[he]=קונקי מודרני - חפיסת קלים לכל השפחה\nעיצוב: Laura Layland\n <l_layland@hotmail.com>\nKonqi by Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[hne]=आधुनिक कान्क्वी- पारिवारिक तास गड्डी वाले खेल खेलव\nडिजाइन: लारा लेलैन्ड\n <l_layland@hotmail.com>\nकान्क्वी स्टीफन स्पात्ज द्वारा\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[hr]=Suvremeni Konqi - obiteljska igra s kartama\nDizajn: Laura Layland\n     <l_layland@hotmail.com>\nKonqi: Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[hu]=Modern Konqi - családi kártyacsomag\nTervezte: Laura Layland\n     <l_layland@hotmail.com>\nKonqi: Stefan Spatz\n    <stefan.spatz@stud-mail.uni-wuerzburg.de>
