[KDE Cards]
Name=Ornamental (SVG)
Name[x-test]=xxOrnamental (SVG)xx
SVG=deck26_ornamental.svg
Comment=SVG Ornamental
Comment[es]=Ornamental SVG
Comment[x-test]=xxSVG Ornamentalxx
