[KDE Cards]
Name=Water
Name[af]=water
Name[az]=Su
Name[be]=Вада
Name[bg]=Вода
Name[bs]=Voda
Name[cs]=Voda
Name[da]=Vand
Name[de]=Wasser
Name[el]=Νερό
Name[eo]=Akvo
Name[es]=Agua
Name[et]=Vesi
Name[eu]=Ura
Name[fi]=Vesi
Name[fr]=Eau
Name[hu]=víz
Name[is]=Vatn
Name[it]=Acqua
Name[ja]=水
Name[ko]=물
Name[lt]=Vanduo
Name[lv]=Ūdens
Name[mt]=Ilma
Name[nb]=Vann
Name[nn]=Vatn
Name[pl]=Woda
Name[pt]=Água
Name[pt_BR]=Água
Name[ro]=Apă
Name[ru]=Вода
Name[sk]=Voda
Name[sl]=Voda
Name[sr]=Voda
Name[sv]=Vatten
Name[ta]=¿£÷
Name[th]=น้ำ
Name[uk]=Вода
Name[ven]=Madi
Name[vi]=Nước 
Name[xh]=Amanzi
Name[xx]=xx
Name[zh_CN]=水
Name[zh_TW]=水
Name[zu]=Amanzi
