[KDE Cards]
Name=Oasis
Name[af]=Oase
Name[ar]=واحة
Name[be]=Аазіс
Name[br]=Oazis
Name[cs]=Oáza
Name[da]=Oase
Name[de]=Oase
Name[el]=Όαση
Name[eo]=Oazo
Name[et]=Oaas
Name[eu]=Oasia
Name[fa]=آبادی
Name[hr]=Oaza
Name[hu]=Oázis
Name[is]=Vin
Name[it]=Oasi
Name[ko]=오아시스
Name[lt]=Oazė
Name[lv]=Oāze
Name[mk]=Оаза
Name[nb]=Oase
Name[nds]=Oaas
Name[ne]=ओयसिस
Name[nl]=Oase
Name[nn]=Oase
Name[pl]=Oaza
Name[pt]=Oásis
Name[pt_BR]=Oásis
Name[ru]=Оазис
Name[sl]=Oaza
Name[sr]=Оаза
Name[sr@Latn]=Oaza
Name[sv]=Oas
Name[ta]=ஒயாஸிஸ்
Name[tg]=Оазис
Name[tr]=Vaha
Name[uk]=Оазис
Name[uz]=Воҳа
Name[x-test]=xxOasisxx
Name[xh]=Indawo esentlango enamanzi
Name[zh_TW]=綠洲
