[KDE Cards]
Name=Bathing
Name[af]=swem
Name[az]=Çimmə
Name[bg]=Къпане
Name[bs]=Kupanje
Name[cs]=Koupel
Name[da]=Badning
Name[de]=Baden
Name[eo]=Banloko
Name[es]=Balneario
Name[et]=Suplus
Name[eu]=Bainua
Name[fi]=Kylpy
Name[fr]=Baignade
Name[hu]=fürdő
Name[is]=Í baði
Name[it]=Balneare
Name[ko]=목욕
Name[lt]=Maudynės
Name[lv]=Peldēšanās
Name[mt]=Għawm
Name[nb]=Bading
Name[nl]=Baden
Name[nn]=Bad
Name[pl]=Kąpiel
Name[pt]=Banho
Name[ro]=Îmbăiere
Name[ru]=Купание
Name[sl]=Kopel
Name[sr]=Kupanje
Name[sv]=Bad
Name[ta]=ÌÇ¢ò¾ø
Name[tr]=Yüzme
Name[uk]=Купання
Name[ven]=U tamba
Name[vi]=Tắm
Name[xh]=Iyadada
Name[xx]=xx
Name[zh_CN]=游泳
Name[zh_TW]=游泳
Name[zu]=Iyageza
