[KDE Cards]
Name=Ornamental (SVG)
Name[el]=Διακοσμητικό (SVG)
Name[ne]=सजाइएको (एसभीजी)
Name[sv]=Dekorativ (SVG)
Name[x-test]=xxOrnamental (SVG)xx
Name[zh_CN]=植物装饰(SVG)
Name[zh_TW]=Ornamental（SVG）
SVG=deck26_ornamental.svg
Comment=SVG Ornamental
Comment[el]=Διακοσμητικό SVG
Comment[es]=Ornamental SVG
Comment[ga]=Ornamental SVG
Comment[ne]=सजाइएको एसभीजी
Comment[pt]=Ornamental com SVG
Comment[pt_BR]=Ornamental com SVG
Comment[sv]=SVG Dekorativ
Comment[x-test]=xxSVG Ornamentalxx
Comment[zh_CN]=SVG 植物装饰
