[KDE Cards]
Name=Beach
Name[af]=Strand
Name[ar]=شاطئ
Name[az]=Çimərlik
Name[be]=Пляж
Name[bg]=Плаж
Name[bn]=সৈকত
Name[br]=Traezhenn
Name[bs]=Plaža
Name[ca]=Platja
Name[cs]=Pláž
Name[cy]=Traeth
Name[da]=Strand
Name[de]=Strand
Name[el]=Παραλία
Name[eo]=Plaĝo
Name[es]=Playa
Name[et]=Rand
Name[eu]=Hondartza
Name[fa]=ساحل
Name[fi]=Ranta
Name[fr]=Plage
Name[gl]=Praia
Name[he]=חוף
Name[hi]=समुद्र तट
Name[hr]=Plaža
Name[hu]=Tengerpart
Name[is]=Strönd
Name[it]=Spiaggia
Name[km]=ឆ្នេរ​ខ្សាច់
Name[ko]=바닷가
Name[lt]=Paplūdimys
Name[lv]=Pludmale
Name[mk]=Плажа
Name[mt]=Ramla
Name[nb]=Strand
Name[nds]=Strand
Name[ne]=किनारा
Name[nl]=Strand
Name[nn]=Strand
Name[nso]=Lewatle
Name[pa]=ਬੀਚ
Name[pl]=Plaża
Name[pt]=Praia
Name[pt_BR]=Praia
Name[ro]=Plajă
Name[ru]=Пляж
Name[se]=Fiervá
Name[sk]=Pláž
Name[sl]=Obala
Name[sr]=Плажа
Name[sr@Latn]=Plaža
Name[sv]=Strand
Name[ta]=கடல்
Name[tg]=Пляж
Name[th]=อ่าว
Name[tr]=Sahil
Name[uk]=Пляж
Name[ven]=Bitshini
Name[vi]=Bãi biển 
Name[wa]=Pladje
Name[xh]=Ulwande
Name[zh_CN]=海滩
Name[zh_TW]=海灘
Name[zu]=Ulwandle
