[KDE Cards]
Name=Oxygen
Name[es]=Oxígeno
Name[fa]=فنون
Name[ne]=अक्सिजन
Name[te]=ఆక్సీజన్
Name[wa]=Ocsidjinne
Comment=Oxygen styled card deck
Comment[el]=Τραπουλόχαρτα με στυλ Oxygen
Comment[es]=Baraja con el estilo oxígeno
Comment[ja]=Oxygen スタイルのカードデッキ
Comment[ne]=अक्सिजन शैलीको ताश डेक
Comment[nl]=Oxygen-stijl kaartrug
Comment[pt]=Baralho de cartas com o estilo Oxygen
Comment[pt_BR]=Baralho de cartas com o estilo Oxygen
Comment[sv]=Kortlek med Oxygen-stil
Comment[zh_TW]=Oxygen 樣式的紙牌圖案
