[KDE Cards]
Name=Dondorf
Name[be]=Дандорф (SVG)
Name[fa]=دوندورف
Name[hne]=डानड्राफ (एसवीजी)
Name[lv]=Dondorfa (SVG)
Name[ne]=डनडोर्फ
Name[ru]=Дондорф (SVG)
Name[uk]=Дондорф (SVG)
Name[x-test]=xxDondorf (SVG)xx
Name[zh_TW]=Dondorf（SVG）
Comment=SVG Dondorf
Comment[be]=Дандорф SVG
Comment[de]=SVG-Dondorf
Comment[eo]=SVG dondorf
Comment[es]=Dondorf SVG
Comment[fa]=دوندورف
Comment[fr]=Dondorf SVG
Comment[ga]=Dondorf SVG
Comment[hne]=एसवीजी डानड्राफ
Comment[it]=Dondorf SVG
Comment[lv]=SVG Dondorfs
Comment[ne]=एसभीजी डनडोर्फ
Comment[pt]=Dondorf em SVG
Comment[pt_BR]=Dondorf em SVG
Comment[ru]=SVG Дондорф
Comment[sl]=Dondorf v obliki SVG
Comment[uk]=SVG Дондорф
Comment[x-test]=xxSVG Dondorfxx
SVG=deck8.svgz
