[KDE Cards]
Name=Flowers
Name[af]=BLOMME
Name[az]=Çiçəklər
Name[bg]=Цветя
Name[cs]=Květiny
Name[da]=Blomster
Name[de]=Blumen
Name[el]=Λουλούδια
Name[eo]=Floroj
Name[es]=Flores
Name[et]=Lilled
Name[fi]=Kukat
Name[fr]=Fleurs
Name[hu]=virágok
Name[is]=Blóm
Name[it]=Fiori
Name[ja]=花
Name[ko]=꽃
Name[lv]=Puķes
Name[mt]=Fjuri
Name[nl]=Bloemen
Name[no]=Blomster
Name[no_NY]=Blomar
Name[pl]=Kwiaty
Name[pt_BR]=Flores
Name[pt]=Flores
Name[ru]=Цветы
Name[sk]=Kvety
Name[sl]=Rože
Name[sv]=Blommor
Name[ta]=âì¸û
Name[tr]=Çiçekler
Name[uk]=Квіти
Name[vi]=Hoa 
Name[zh_CN.GB2312]=鲜花
Name[zh_TW.Big5]=花
