[KDE Cards]
Name=Tigullio International
Name[el]=Διεθνές Tigullio
Name[es]=Tigullio Internacional
Name[it]=Tigullio internazionale
Name[km]=Tigullio អន្តរជាតិ
Name[lv]=Tigullio internacionālais
Name[nds]=Tigullio Internatschonaal
Name[nl]=Tigullio Internationaal
Name[nn]=Tigullio internasjonal
Name[pt]=Tigullio Internacional
Name[pt_BR]=Tigullio Internacional
Name[ru]=Tigullio международный
Name[sr]=Тигулио интернационал
Name[sr@latin]=Tigullio internacional
Name[sv]=Tigullio internationell
Name[x-test]=xxTigullio Internationalxx
Name[zh_CN]=国际提古里奥
SVG=deck18.svgz
default=false
