[KDE Cards]
Name=Nicu Ornamental (SVG)
Name[cs]=Nicu Ornamentální (SVG)
Name[de]=Nicu Ornamente (SVG)
Name[el]=Διακοσμητικό (SVG)
Name[fr]=Nicu Ornemental (SVG)
Name[ga]=Ornáideach (SVG)
Name[gl]=Nicu de adorno (
Name[hu]=Díszes (SVG)
Name[it]=Nicu Ornamentale (SVG)
Name[ja]=装飾的 (SVG)
Name[km]=គ្រឿង​តុបតែង (SVG)
Name[lv]=Nicu Ornaments (SVG)
Name[nds]=Smuck (SVG)
Name[ne]=सजाइएको (एसभीजी)
Name[pl]=Ornamenty (SVG)
Name[ru]=Нику Декоративный (SVG)
Name[sl]=Okrasno (SVG)
Name[sv]=Dekorativ (SVG)
Name[uk]=Нику Орнамент (SVG)
Name[zh_CN]=饰物(SVG)
Name[zh_TW]=Niku Ornamental（SVG）
Name[x-test]=xxNiku Ornamental (SVG)xx
SVG=deck9.svgz
Comment=SVG Ornamental
Comment[cs]=SVG ornamentály
Comment[de]=SVG Ornamente
Comment[el]=Διακοσμητικό SVG
Comment[es]=Ornamental SVG
Comment[fr]=SVG Ornemental
Comment[ga]=Ornáideach SVG
Comment[gl]=De adorno (SVG)
Comment[hu]=SVG Díszes
Comment[it]=Ornamentale SVG
Comment[ja]=SVG 装飾的
Comment[km]=គ្រឿង​តុបតែង SVG
Comment[lv]=SVG ornaments
Comment[nds]=SVG Smuck
Comment[ne]=सजाइएको एसभीजी
Comment[nn]=SVG ornamental
Comment[pl]=Ornamenty w SVG
Comment[pt]=Ornamental com SVG
Comment[ru]=SVG Декоративный
Comment[sl]=Okrasna tema v obliki SVG
Comment[sv]=SVG Dekorativ
Comment[uk]=SVG Орнамент
Comment[zh_CN]=SVG 饰物
Comment[x-test]=xxSVG Ornamentalxx
Default=false