[KDE Cards]
Name=Chin
Name[cs]=Brada
Name[eo]=Vizaĝo
Name[is]=Haka
Name[ja]=中国
Name[ko]=턱
Name[lv]=Zods
Name[sl]=Čin
Name[sv]=Pingla
Name[tr]=Çene
Name[uk]=Теревені
Name[zh_CN.GB2312]=中国
