[KDE Cards]
Name=Jolly Royal
Name[ca]=Jolly Royal
Name[da]=Jolly Royal
Name[de]=Jolly Royal
Name[el]=Βασιλικό
Name[en_GB]=Jolly Royal
Name[es]=Jolly Royal
Name[et]=Jolly Royal
Name[gl]=Jolly Royal
Name[it]=Jolly Royal
Name[nds]=Königlich
Name[nl]=Jolly Royal
Name[nn]=Kongeleg
Name[pt]=Real Alegre
Name[pt_BR]=Real alegre
Name[sl]=Jolly Royal
Name[sr]=Џоли ројал
Name[sr@latin]=Džoli rojal
Name[sv]=Kungligt roligt
Name[uk]=Веселе королівство
Name[x-test]=xxJolly Royalxx
Name[zh_CN]=皇室
Name[zh_TW]=Jolly Royal
Comment=A clean and easy style with a distinctively royal touch.
Comment[ca]=Un estil net i senzill amb un toc real distintiu.
Comment[da]=En enkelt og let stil med et karakteristisk royalt strejf.
Comment[de]=Ein klares und einfaches Design mit einem unverwechselbar königlichen Hauch.
Comment[el]=Ένα καθαρό και εύκολο στυλ με μια ευδιάκριτη βασιλική πινελιά.
Comment[en_GB]=A clean and easy style with a distinctively royal touch.
Comment[es]=Un estilo limpio y sencillo con un toque real distintivo
Comment[et]=Selge ja lihtne teema kena suursuguse tooniga.
Comment[eu]=Estilo garbi eta erraza ukitu erreal batekin.
Comment[fr]=Un thème épuré et facile proposant une touche royale distinctive.
Comment[ga]=Stíl ghlan éasca le blas fíor-ríoga.
Comment[gl]=Un estilo limpo e sinxelo cun toque de distinción.
Comment[hu]=Egyszerű, tiszta stílus némi uralkodói beütéssel.
Comment[it]=Uno stile semplice e pulito con un tocco reale che lo distingue.
Comment[km]=A clean and easy style with a distinctively royal touch.
Comment[lv]=Tīrs un viegls stils ar izteiktu karalisku piesitienu.
Comment[nds]=En oprüümt un eenfach Stil mit en besünner königlich Röök.
Comment[nl]=Een eenvoudig schoon thema met een koninklijke touch.
Comment[nn]=Stilrein og med eit visst kongeleg preg.
Comment[pt]=Um estilo limpo e simples com um toque real e distinto.
Comment[pt_BR]=Um tema limpo e fácil com um toque distintamente real.
Comment[sl]=Čist in lahek slog s prepoznavnim kraljevskim dotikom.
Comment[sr]=Јасан и лак стил са краљевском нотом.
Comment[sr@latin]=Jasan i lak stil sa kraljevskom notom.
Comment[sv]=En ren och enkel stil med ett utpräglat kungligt drag.
Comment[uk]=Чистий і простий стиль з певним відтінком аристократичності.
Comment[x-test]=xxA clean and easy style with a distinctively royal touch.xx
Comment[zh_CN]=绘有特色化的皇室图案的简洁风格。
Comment[zh_TW]=簡單、乾淨、高雅的樣式
SVG=deck12.svgz
Default=true
