[KDE Cards]
Name=Fairy
Name[af]=Fee
Name[be]=Фея
Name[ca]=Fada
Name[cs]=Víla
Name[cy]=Tylwyth Teg
Name[da]=Fe
Name[de]=Elfe
Name[el]=Νεράιδα
Name[eo]=Elfo
Name[es]=Hada
Name[et]=Haldjas
Name[eu]=Maitagarria
Name[fa]=جن و پری
Name[fi]=Keijukainen
Name[fr]=Féérie
Name[gl]=Fada
Name[hr]=Vila
Name[hu]=Tündéres
Name[is]=Álfur
Name[it]=Fata
Name[ja]=妖精
Name[km]=ទេវតា
Name[ko]=요정
Name[lt]=Fėja
Name[lv]=Pasaku
Name[mk]=Самовила
Name[nb]=Fe
Name[nds]=Fee
Name[ne]=अप्सरा
Name[nl]=Fee
Name[nn]=Fe
Name[pl]=Wróżkarski
Name[pt]=Fada
Name[pt_BR]=Mágico
Name[ro]=Basm
Name[ru]=Фея
Name[sr]=Вила
Name[sr@latin]=Vila
Name[sv]=Älva
Name[ta]=தேவதை
Name[tg]=Парӣ
Name[tr]=Peri
Name[uk]=Чарівний
Name[uz]=Пари
Name[vi]=Xinh đẹp 
Name[x-test]=xxFairyxx
Name[zh_CN]=仙女
Name[zh_TW]=仙女
