[KDE Cards]
Name=Beach
Name[cs]=Pláž
Name[da]=Strand
Name[de]=Strand
Name[el]=Παραλία
Name[eo]=Plaĝo
Name[es]=Playa
Name[et]=Rand
Name[fi]=Ranta
Name[fr]=Plage
Name[hu]=tengerpart
Name[is]=Strönd
Name[it]=Spiaggia
Name[ko]=바닷가
Name[lv]=Pludmale
Name[nl]=Strand
Name[no]=Strand
Name[no_NY]=Strand
Name[pt]=Praia
Name[pt_BR]=Praia
Name[ro]=Plajă
Name[ru]=Пляж
Name[sk]=Pláž
Name[sl]=Obala
Name[sv]=Strand
Name[tr]=Sahil
Name[uk]=Пляж
Name[zh_CN.GB2312]=海滩
Name[zh_TW.Big5]=沙灘
