[KDE Cards]
Name=Oasis
Name[cs]=Oáza
Name[da]=Oase
Name[de]=Oase
Name[el]=Όαση
Name[eo]=Oazo
Name[et]=Oaas
Name[hu]=oázis
Name[is]=Vin
Name[it]=Oasi
Name[ko]=오아시스
Name[lv]=Oāze
Name[nl]=Oase
Name[no]=Oase
Name[no_NY]=Oase
Name[pl]=Oaza
Name[pt]=Oásis
Name[pt_BR]=Oásis
Name[ru]=Оазис
Name[sk]=Oáza
Name[sl]=Oaza
Name[sv]=Oas
Name[tr]=Vaha
Name[uk]=Оазіс
Name[zh_CN.GB2312]=绿洲
Name[zh_TW.Big5]=綠州
