[KDE Cards]
Name=Horizon
Name[af]=Horison
Name[ar]=الأفق
Name[az]=Üfüq
Name[be]=Гарызонт
Name[bg]=Хоризонт
Name[bn]=দিগন্ত
Name[br]=Dremmwel
Name[bs]=Horizont
Name[ca]=Horitzó
Name[cs]=Horizont
Name[cy]=Gorwel
Name[da]=Horisont
Name[de]=Horizont
Name[el]=Ορίζοντας
Name[eo]=Horizonto
Name[es]=Horizonte
Name[et]=Horisont
Name[eu]=Zeruertza
Name[fa]=افق
Name[fi]=Horisontti
Name[ga]=Léaslíne
Name[gl]=Horizonte
Name[he]=אופק
Name[hi]=क्षितिज
Name[hr]=Horizont
Name[hu]=Horizont
Name[is]=Sjóndeildarhringur
Name[it]=Orizzonte
Name[km]=ជើង​មេឃ
Name[ko]=수평선
Name[lv]=Horizonts
Name[mk]=Хоризонт
Name[mt]=Orizzont
Name[nb]=Horisont
Name[nds]=Kimm
Name[ne]=क्षितिज
Name[nn]=Horisont
Name[pa]=ਖੇਤਰ
Name[pl]=Horyzont
Name[pt]=Horizonte
Name[pt_BR]=Horizonte
Name[ro]=Orizont
Name[ru]=Горизонт
Name[sk]=Horizont
Name[sl]=Obzorje
Name[sr]=Хоризонт
Name[sr@Latn]=Horizont
Name[sv]=Horisont
Name[ta]=ஹாரிஸான்
Name[tg]=Уфуқ
Name[tr]=Ufuk
Name[uk]=Обрій
Name[uz]=Ufq
Name[ven]=Magumoni a shango
Name[vi]=Chân trời 
Name[wa]=Roye di cir
Name[xh]=Ulundi
Name[zh_CN]=地平线
Name[zh_TW]=地平線
Name[zu]=Okusesibhakabhakeni
