[KDE Cards]
Name=Technics
Name[be]=Тэхніка
Name[ca]=Tècniques
Name[cs]=Technika
Name[eo]=Tekniko
Name[es]=Técnicas
Name[et]=Tehnika
Name[eu]=Teknikoa
Name[fi]=Tekniikka
Name[fr]=Technique
Name[gl]=Técnicas
Name[hr]=Tehnika
Name[hu]=Technikai
Name[is]=Tækni
Name[it]=Tecnico
Name[km]=វិធីសាស្ត្រ
Name[ko]=기술
Name[lv]=Tehnika
Name[mk]=Техника
Name[nb]=Teknisk
Name[nds]=Technik
Name[ne]=उपाय
Name[nl]=Technisch
Name[nn]=Teknisk
Name[pt]=Técnico
Name[pt_BR]=Técnicas
Name[ro]=Tehnic
Name[ru]=Шестерёнки
Name[se]=Teknihkalaš
Name[sl]=Tehnika
Name[sr]=Техникс
Name[sr@latin]=Tehniks
Name[sv]=Teknik
Name[ta]=நுணுக்கங்கள்
Name[tg]=Шомгонаҳо
Name[tr]=Teknik
Name[uk]=Шестерні
Name[x-test]=xxTechnicsxx
Name[xh]=iindlela zokudlala
Name[zh_TW]=工藝
Comment=Standard KDE card deck
Comment[af]=Standaard Kde kaart pak
Comment[be]=Стандартная калода картаў KDE
Comment[ca]=Joc de cartes estàndard del KDE
Comment[cs]=Standardní sada karet KDE
Comment[cy]=Set cerdiau safonol KDE
Comment[da]=Standard KDE-kortspil
Comment[de]=Standardmäßige KDE-Karten
Comment[el]=Προκαθορισμένο σύνολο τράπουλας του KDE
Comment[eo]=Normala KDEa kartaro
Comment[es]=Baraja de cartas estándar de KDE
Comment[et]=Standardne KDE kaardipakk
Comment[eu]=KDE-ren karta-sorta
Comment[fa]=دسته کارت استاندارد KDE
Comment[fi]=Normaali KDE:n korttipakka
Comment[fr]=Jeu de cartes standard de KDE
Comment[gl]=Baralla de cartas estándar de KDE
Comment[he]=חפיסת הקלפים הסטנדרטית של KDE
Comment[hr]=Standardni KDE komplet karata
Comment[hu]=Standard KDE kártyacsomag
Comment[is]=Venjulegi KDE spilastokkurinn
Comment[it]=Mazzo di carte standard di KDE
Comment[ja]=KDE 標準カードデッキ
Comment[km]=ហូ​បៀ KDE ខ្នាត​គំរូ
Comment[ko]=표준 KDE 카드 데크
Comment[lt]=Standartinė KDE kortų kaladė
Comment[lv]=Standarta KDE kāršu galds
Comment[mk]=Стандарден шпил карти на KDE 
Comment[nb]=Standard KDE-kortstokk
Comment[nds]=KDE-Standardkoorten
Comment[ne]=मानक केडीई कार्ड डेक
Comment[nl]=Standaard KDE-kaartrug
Comment[nn]=Standard KDE-kortstokk
Comment[pa]=ਮਿਆਰੀ KDE ਤਾਸ਼ ਪੱਤੇ
Comment[pl]=Standardowy zestaw kart KDE
Comment[pt]=Baralho de cartas por omissão do KDE
Comment[pt_BR]=Baralho padrão do KDE
Comment[ro]=Set de cărţi de joc KDE standard
Comment[ru]=Стандартная колода карт KDE
Comment[sl]=Standardni komplet kart za KDE
Comment[sr]=Стандардни KDE-ов шпил карата
Comment[sr@latin]=Standardni KDE-ov špil karata
Comment[sv]=Förvald KDE-kortlek
Comment[ta]=நிலையான கேடிஇ சீட்டின் மேல் தளம்                                                                                                                                                                                                                                                                                            
Comment[tg]=Маҷмӯи кортҳои муқаррарии KDE
Comment[tr]=Standart KDE kart destesi
Comment[uk]=Типовий малюнок карт KDE
Comment[x-test]=xxStandard KDE card deckxx
Comment[xh]=Umgangatho womphezulu wamakhadi eKDE 
Comment[zh_TW]=標準 KDE 紙牌花色
