[KDE Cards]
Name=Grandma
Name[cs]=Babička
Name[da]=Bedstemor
Name[de]=Großmutter
Name[el]=Γιαγιά
Name[eo]=Avinjo
Name[es]=Abuela
Name[et]=Vanaema
Name[fi]=Isoäiti
Name[fr]=Grand-mère
Name[hu]=Nagyi
Name[is]=Amma
Name[it]=Nonna
Name[ko]=할머니
Name[nl]=Grootmoeder
Name[no]=Bestemor
Name[no_NY]=Bestemor
Name[pt]=Avó
Name[ro]=Bunica
Name[ru]=Бабушка
Name[sk]=Stará mama
Name[sl]=Babica
Name[sv]=Farmor
Name[tr]=Büyük anne
Name[uk]=Бабуся
Name[zh_CN.GB2312]=祖母
