[KDE Cards]
Name=Holstentor
Name[af]=holstentor
Name[bg]=Холстентор
Name[eo]=Holsten-pordego
Name[ko]=성
Name[lv]=Holstentors
Name[ru]=Замок
Name[xx]=xx
