[KDE Cards]
Name=Flowers
Name[af]=Blomme
Name[ar]=أزهار
Name[az]=Çiçəklər
Name[bg]=Цветя
Name[bn]=ফুল
Name[br]=Bleunioù
Name[bs]=Cvijeće
Name[ca]=Flors
Name[cs]=Květiny
Name[cy]=Blodau
Name[da]=Blomster
Name[de]=Blumen
Name[el]=Λουλούδια
Name[eo]=Floroj
Name[es]=Flores
Name[et]=Lilled
Name[eu]=Loreak
Name[fi]=Kukat
Name[fo]=Blómur
Name[fr]=Fleurs
Name[ga]=Bláthanna
Name[gl]=Flores
Name[he]=פרחים
Name[hi]=पुष्प
Name[hr]=Cvjetovi
Name[hu]=Virágok
Name[is]=Blóm
Name[it]=Fiori
Name[ja]=花
Name[km]=ផ្កា
Name[ko]=꽃
Name[lt]=Gėlės
Name[lv]=Puķes
Name[mk]=Цвеќиња
Name[mt]=Fjuri
Name[nb]=Blomster
Name[nds]=Blomen
Name[nl]=Bloemen
Name[nn]=Blomar
Name[nso]=Maloba
Name[pa]=ਫੁੱਲ
Name[pl]=Kwiaty
Name[pt]=Flores
Name[pt_BR]=Flores
Name[ro]=Flori
Name[ru]=Цветы
Name[se]=Lieđit
Name[sk]=Kvety
Name[sl]=Rože
Name[sr]=Цвеће
Name[sr@Latn]=Cveće
Name[sv]=Blommor
Name[ta]=மலர்கள்
Name[tg]=Гулҳо
Name[th]=ดอกไม้
Name[tr]=Çiçekler
Name[uk]=Квіти
Name[uz]=Гуллар
Name[ven]=Maluvha
Name[vi]=Hoa 
Name[wa]=Fleurs
Name[xh]=Iintyatyambo
Name[zh_CN]=鲜花
Name[zh_TW]=鮮花
Name[zu]=Izimbali
