[KDE Cards]
Name=Nicu Ornamental
Name[ca]=Nicu Ornamental
Name[cs]=Nicu Ornamental
Name[da]=Nicu Ornamental
Name[de]=Nicu (verziert)
Name[el]=Διακοσμητικό Nicu
Name[en_GB]=Nicu Ornamental
Name[es]=Ornamental Nicu
Name[et]=Nicu Ornamental
Name[fr]=Ornemental Nicu
Name[gl]=Nicu Ornamental
Name[it]=Ornamentale Nicu
Name[nds]=Nicu smuck
Name[nl]=Nicu Ornamentaal
Name[nn]=Nicu – ornamental
Name[pt]=Nicu Ornamental
Name[pt_BR]=Nicu ornamental
Name[ru]=Детский декоративный
Name[sl]=Okrasni Nicu
Name[sr]=Нику орнаменти
Name[sr@latin]=Niku ornamenti
Name[sv]=Nicus dekorativa
Name[tr]=Nicu Süsleyici
Name[uk]=Орнамент Nicu
Name[x-test]=xxNicu Ornamentalxx
Name[zh_CN]=Nicu 植物装饰
Name[zh_TW]=Nicu Ornamental
Comment=SVG Ornamental
Comment[ca]=SVG Ornamental
Comment[cs]=SVG ornamentály
Comment[da]=SVG Ornamental
Comment[de]=SVG-Verzierung
Comment[el]=Διακοσμητικό SVG
Comment[en_GB]=SVG Ornamental
Comment[es]=Ornamental SVG
Comment[et]=SVG Ornamental
Comment[eu]=SVG apaingarria
Comment[fr]=Ornemental SVG
Comment[ga]=Ornáideach SVG
Comment[gl]=Ornamental SVG
Comment[hne]=एसवीजी सोभायमान
Comment[hu]=SVG Díszes
Comment[it]=Ornamentale SVG
Comment[ja]=SVG 装飾的
Comment[km]=គ្រឿង​តុបតែង SVG
Comment[lv]=SVG ornaments
Comment[nds]=SVG Smuck
Comment[ne]=सजाइएको एसभीजी
Comment[nl]=SVG Ornamental
Comment[nn]=SVG ornamental
Comment[pl]=Ornamenty w SVG
Comment[pt]=Ornamental com SVG
Comment[pt_BR]=SVG Ornamental
Comment[ro]=SVG Ornamental
Comment[ru]=SVG Декоративный
Comment[sl]=Okrasna tema v obliki SVG
Comment[sr]=СВГ орнаменти
Comment[sr@latin]=SVG ornamenti
Comment[sv]=SVG Dekorativ
Comment[tr]=SVG Süsleyici
Comment[uk]=SVG Орнамент
Comment[x-test]=xxSVG Ornamentalxx
Comment[zh_CN]=SVG 饰物
Comment[zh_TW]=SVG Ornamental
SVG=deck9.svgz
