[KDE Cards]
Name=Starrise
Name[bg]=Звезди
Name[ca]=Estrellat
Name[cs]=Úsvit
Name[de]=Sternenaufgang
Name[eo]=Stellumo
Name[et]=Tähetõus
Name[fi]=Tähdennousu
Name[fr]=Étoiles
Name[hi]=स्टार-राइज़
Name[hr]=Uspon zvijezda
Name[hu]=Csillagok
Name[is]=Ris stjarna
Name[it]=Alba spaziale
Name[ko]=별무리
Name[mt]=SemaStilel
Name[nb]=Stjerner
Name[nl]=Sterrijzenis
Name[nn]=Stjerner
Name[pl]=Wschód gwiazdy
Name[ro]=Stelar
Name[ru]=Восход звезды
Name[sk]=Východ hviezd
Name[sl]=Vzhod zvezde
Name[sr]=Сазвежђе
Name[sv]=Stjärnuppgång
Name[ta]=நட்சத்திர உதயம்
Name[uk]=Схід зірки
Name[ven]=Vhubva naledzi
Name[xh]=Inkwenkwezi ephumayo
Name[xx]=xxStarrisexx
Name[zh_CN]=星空
Name[zh_TW]=星空
Name[zu]=Ukuvuka kwezinkanyezi
