[KDE Cards]
Name=Water
Name[ar]=ماء
Name[az]=Su
Name[bg]=Вода
Name[bn]=পানি
Name[br]=Dou
Name[bs]=Voda
Name[ca]=Aigua
Name[cs]=Voda
Name[da]=Vand
Name[de]=Wasser
Name[el]=Νερό
Name[eo]=Akvo
Name[es]=Agua
Name[et]=Vesi
Name[eu]=Ura
Name[fi]=Vesi
Name[fo]=Vatn
Name[fr]=Eau
Name[ga]=Uisce
Name[gl]=Auga
Name[hi]=पानी
Name[hr]=Voda
Name[hu]=Víz
Name[is]=Vatn
Name[it]=Acqua
Name[ja]=水
Name[ko]=물
Name[lv]=Ūdens
Name[mk]=Вода
Name[mt]=Ilma
Name[nb]=Vann
Name[nn]=Vatn
Name[nso]=Meetse
Name[pl]=Woda
Name[pt]=Água
Name[pt_BR]=Água
Name[ro]=Apă
Name[ru]=Вода
Name[sk]=Voda
Name[sl]=Voda
Name[sr]=Вода
Name[sr@Latn]=Voda
Name[sv]=Vatten
Name[ta]=தண்ணீர்
Name[tg]=Об
Name[th]=น้ำ
Name[uk]=Вода
Name[uz]=Сув
Name[ven]=Madi
Name[vi]=Nước 
Name[wa]=Aiwe
Name[xh]=Amanzi
Name[xx]=xxWaterxx
Name[zh_CN]=水
Name[zh_TW]=水
Name[zu]=Amanzi
