[KDE Cards]
Name=Paris
Name[el]=Παρίσι
Name[es]=París
Name[et]=Pariis
Name[it]=Parigi
Name[lv]=Parīze
Name[mai]=पेरिस
Name[nl]=Parijs
Name[ru]=Париж
Name[sr]=Париз
Name[sr@latin]=Pariz
Name[uk]=Париж
Name[x-test]=xxParisxx
Name[zh_CN]=巴黎
Name[zh_TW]=巴黎
Comment=Classic
Comment[ca]=Clàssic
Comment[cs]=Klasický
Comment[da]=Klassisk
Comment[de]=Klassisch
Comment[el]=Κλασικό
Comment[es]=Clásico
Comment[et]=Klassikaline
Comment[eu]=Klasikoa
Comment[fr]=Classique
Comment[ga]=Clasaiceach
Comment[gl]=Clásico
Comment[hne]=क्लासिक
Comment[hu]=Klasszikus
Comment[it]=Classico
Comment[ja]=クラシック
Comment[km]=ក្លាសិក
Comment[lt]=Klasikinė
Comment[lv]=Klasika
Comment[mai]=क्लासिक
Comment[nds]=Klass'sch
Comment[nl]=Klassiek
Comment[nn]=Klassisk
Comment[pt]=Clássico
Comment[pt_BR]=Clássico
Comment[ro]=Clasic
Comment[ru]=Классический
Comment[sl]=Klasična
Comment[sr]=Класични
Comment[sr@latin]=Klasični
Comment[sv]=Klassiskt
Comment[tr]=Klasik
Comment[uk]=Класична
Comment[x-test]=xxClassicxx
Comment[zh_CN]=经典
Comment[zh_TW]=古典
SVG=deck10.svgz
