[KDE Cards]
Name=Bathing
Name[af]=SWEM
Name[az]=Çimmə
Name[bg]=Къпане
Name[cs]=Koupel
Name[da]=Badning
Name[de]=Baden
Name[eo]=Banloko
Name[es]=Balneario
Name[et]=Suplus
Name[fi]=Kylpy
Name[fr]=Baignade
Name[hu]=fürdő
Name[is]=Í baði
Name[it]=Balneare
Name[ko]=목욕
Name[lv]=Peldēšanās
Name[mt]=Għawm
Name[nl]=Badende
Name[no]=Bading
Name[no_NY]=Bad
Name[pl]=Kąpiel
Name[pt]=Banho
Name[ru]=Купание
Name[sl]=Kopel
Name[sv]=Bad
Name[ta]=ÌÇ¢ò¾ø
Name[tr]=Yüzme
Name[uk]=Купання
Name[vi]=Tắm 
Name[zh_CN.GB2312]=游泳
Name[zh_TW.Big5]=海泳
