[KDE Cards]
Name=Konqi
Name[be]=Конкі
Name[cs]=Konqui
Name[eo]=Konĉja
Name[it]=Konqui
Name[lv]=Konvi
Name[ne]=कोन्क्वी
Name[ru]=Конки
Name[sr]=Конки
Name[sr@latin]=Konki
Name[ta]=கான்கி
Name[tg]=Конки
Name[uk]=Конкі
Name[x-test]=xxKonqixx
Name[zh_CN]=Konqi 恐龙
Comment=Modern Konqi - play the family carddeck\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKonqi by Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[ca]=Konqi modern - jugueu amb la baralla familiar\nDisseny: Laura Layland\n     <l_layland@hotmail.com>\nKonqi per Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[cs]=Moderní Konqi - hrajte rodinnou hru\nNávrh: Laura Laylanda\n <l_layland@hotmail.com>\nKonqiho vytvořil Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[cy]=Set cerdiau cyfoes Konqi - chwarae yn erbyn y teulu\nDylunio:Laura Layland\n <l_layland@hotmail.com>\nKonqi gan Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[da]=Modern Konqi - spil familiekortspillet\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKonqi by Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[de]=Modernes Konqi - Spielen Sie das Familienspiel\nDesign: Laura Laylanda\n     <l_layland@hotmail.com>\nKonqi von Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[el]=Μοντέρνος Konqi - play the family θέμα καρτών\nΣχεδίαση: Laura Layland\n <l_layland@hotmail.com>\nKonqi από Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[eo]=Moderna Konĉjo - ludu per la familiokartaro\nDesegno: Laura Layland\n <l_layland@hotmail.com>\nKonĉjo de Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[es]=Konqi moderno - juegue con la baraja familiar\nDiseño: Laura Layland\n <l_layland@hotmail.com>\nKonqi por Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[et]=Modern Konqi - play the family carddeck\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKonqi: Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[eu]=Konqi modernoa - kartetan jokatzeko\nDiseinua: Laura Layland\n <l_layland@hotmail.com>\nKonqi-ren egilea Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[fa]=Konqi مدرن - بازی خانوادگی carddeck\nطرح: لورا \n     لایلند <l_layland@hotmail.com>\nKonqi توسط استفان اسپاتز\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[fi]=Moderni Konqi - perheen korttipakka\nSuunnittelu: Laura Layland\n <l_layland@hotmail.com>\nKonqi: Stefan Spatza\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[fr]=Konqi moderne - pour jouer aux cartes\nConception : Laura Layland\n     <l_layland@hotmail.com>\nKonqi par Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[gl]=Konqi moderno - xogue coa baralla familiar\nDeseño: Laura Layland\n <l_layland@hotmail.com>\nKonqi por Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[he]=קונקי מודרני - חפיסת קלים לכל השפחה\nעיצוב: Laura Layland\n <l_layland@hotmail.com>\nKonqi by Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[hr]=Suvremeni Konqi - obiteljska igra s kartama\nDizajn: Laura Layland\n     <l_layland@hotmail.com>\nKonqi: Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[hu]=Modern Konqi - családi kártyacsomag\nTervezte: Laura Layland\n     <l_layland@hotmail.com>\nKonqi: Stefan Spatz\n    <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[it]=Konqui Moderno - carte familiari\nDesign: Laura Layland\n<l_layland@hotmail.com>\nKonqui di Stefan Spatz\n<stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[ja]=モダン Konqi - ファミリ向けカードデッキ\nデザイン: Laura Layland\n     <l_layland@hotmail.com>\nKonqi の作者: Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[lt]=Modern Konqi - žaisktie šeimos kortų žaidimą\nDizainas: Laura Layland\n <l_layland@hotmail.com>\nKatie by Agnieszka Czajkowska\n <agnieszka@imagegalaxy.de>\n
Comment[lv]=Modernais Konkvi - spēlēt pie ģimenes kāršu galda\n Dizains: Laura Layland\n <l_layland@hotmail.com>\n Konkvi no Stefan Spatza\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[mk]=Модерен Konqi - играјте со семејниот шпил карти\nДизајн: Laura Layland\n<l_layland@hotmail.com>\nKatie од Agnieszka Czajkowska\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[nb]=Moderne Konqi – familiekortstokken\nUtforming: Laura Layland\n     <l_layland@hotmail.com>\nKonqi av Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerxburg.de>
Comment[nds]=Modern Konqi - Speel mit de Familienkoorten\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKonqi vun Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[ne]=आधुनिक क्वोन्की - कार्डडेक परिवार खेल्नुहोस्\nDesign: लाउरा लेल्यान्ड\n     <l_layland@hotmail.com>\nKonqi, स्टेफन स्पाट्जद्वारा\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[nl]=Modern Konqi - speel met de familie-kaartdek\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKonqi door Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[nn]=Moderne Konqi – familiekortstokken\nUtforming: Laura Layland\n     <l_layland@hotmail.com>\nKonqi av Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerxburg.de>
Comment[pl]=Nowoczesny Konqi - zagraj w grę rodzinną\nProjekt: Laura Laylanda\n <l_layland@hotmail.com>a\nKonqi: Stefan Spatza\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[pt]=Konqi Moderno - o baralho de cartas familiar\nConcepção: Laura Layland\n <l_layland@hotmail.com>\nKonqi por Stefan Spatza\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[pt_BR]=Konqi Moderno - jogue com o baralho da família\nDesign: Laura Layland\n <l_layland@hotmail.com>\nKonqi por Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[sl]=Moderni Konqi - igrajte z družinskim kupom kart\nOblikovanje: Laura Layland\n <l_layland@hotmail.com>\nKonqi od Stefana Spatza\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[sr]=Модеран Конки - играјте са породичним шпилом\nДизајн: Лора Лејленд (Laura Layland)\n <l_layland@hotmail.com>\nКонки: Штефан Шпац (Stefan Spatz)\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[sr@latin]=Moderan Konki - igrajte sa porodičnim špilom\nDizajn: Lora Lejlend (Laura Layland)\n <l_layland@hotmail.com>\nKonki: Štefan Špac (Stefan Spatz)\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[sv]=Modern Konqi - spela familjens kortlek\nDesign: Laura Layland\n <l_layland@hotmail.com>\nKonqi av Stefan Spatz\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[ta]=மார்டன் கான்கி - குடும்பச் சீட்டுத் தளத்தை விளையாடு\nவடிவமைப்பு: லௌரா லேலாண்டு\n      <l_layland@hotmail.com>\nKonqi by Stefan Spatz\n      <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[uk]=Сучасний Конкі - зіграйте у сімейні карти\nРозробка: Laura Layland\n     <l_layland@hotmail.com>\nKatie від Agnieszka Czajkowska\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[wa]=Modiene Konqi - cwårdjeus des familes\nDessins: Laura Layland\n     <l_layland@hotmail.com>\nKonqi pa Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[x-test]=xxModern Konqi - play the family carddeck\nDesign: Laura Layland\n     <l_layland@hotmail.com>\nKonqi by Stefan Spatz\n     <stefan.spatz@stud-mail.uni-wuerzburg.de>xx
Comment[zh_CN]=现代 Konqi - 牌垛类游戏\n设计：Laura Layland\n <l_layland@hotmail.com>\nStefan Spatz 的 Konqi\n <stefan.spatz@stud-mail.uni-wuerzburg.de>
Comment[zh_TW]=現代 Konqi - 玩家庭牌局\n設計︰Laura Layland...<l_layland@hotmail.com>\nKonqi by Stefan Spatz...<stefan.spatz@stud-mail.uni-wuerzburg.de>
