[KDE Cards]
Name=Panda
Name[el]=Πάντα
Name[x-test]=xxPandaxx
Comment=Dedicated to WWF
Comment[el]=Αφιερωμένο στο WWF
Comment[fr]=Dédicacé au WWF
Comment[x-test]=xxDedicated to WWFxx
