[KDE Cards]
Name=Modern Red
Name[cs]=Moderní červená
Name[da]=Moderne Rød
Name[de]=Modernes Rot
Name[el]=Μοντέρνο Κόκκινο
Name[eo]=Moderna ruĝo
Name[es]=Rojo Moderno
Name[et]=Modern punane
Name[fi]=Moderni punainen
Name[fr]=Rouge moderne
Name[hu]=modern vörös
Name[is]=Nútíma rauður
Name[it]=Rosso moderno
Name[ja]=モダンレッド
Name[ko]=모던 빨간 무늬
Name[lv]=Moderni Sarkans
Name[nl]=Modern rood
Name[no]=Moderne Rød
Name[no_NY]=Moderne raud
Name[pt]=Vermelho Moderno
Name[pt_BR]=Vermelho moderno
Name[ro]=Roşu modern
Name[ru]=Модерн-ред
Name[sk]=Moderné červené
Name[sl]=Moderna rdeča
Name[sv]=Modern röd
Name[tr]=Modern Kırmızı
Name[uk]=Сучасний червоний
Name[zh_CN.GB2312]=现代红
Name[zh_TW.Big5]=現代紅
