[KDE Cards]
Name=Penguin
Name[ast]=Pingüín
Name[bs]=Pingvin
Name[ca]=Pingüí
Name[ca@valencia]=Pingüí
Name[cs]=Tučňák
Name[da]=Pingvin
Name[de]=Pinguin
Name[el]=Πιγκουίνος
Name[en_GB]=Penguin
Name[es]=Pingüino
Name[et]=Pingviin
Name[eu]=Pinguinoa
Name[fi]=Pingviini
Name[fr]=Manchot
Name[ga]=Piongain
Name[gl]=Pingüín
Name[hu]=Pingvin
Name[it]=Pinguino
Name[ja]=ペンギン
Name[km]=ផេនឃ្វីន
Name[lt]=Pingvinas
Name[lv]=Pingvīns
Name[nb]=Pingvin
Name[nds]=Pinguin
Name[nl]=Pinguïn
Name[nn]=Pingvin
Name[pl]=Pingwin
Name[pt]=Pinguim
Name[pt_BR]=Pinguim
Name[ru]=Пингвин
Name[se]=Piŋviidna
Name[sk]=Tučniak
Name[sl]=Pingvin
Name[sr]=Пингвин
Name[sr@ijekavian]=Пингвин
Name[sr@ijekavianlatin]=Pingvin
Name[sr@latin]=Pingvin
Name[sv]=Pingvin
Name[tr]=Penguen
Name[uk]=Пінгвін
Name[wa]=Mantchot
Name[x-test]=xxPenguinxx
Name[zh_CN]=企鹅
Name[zh_TW]=企鵝
SVG=deck3.svgz
