[KDE Cards]
Name=Water
Name[az]=Su
Name[bg]=Вода
Name[cs]=Voda
Name[da]=Vand
Name[de]=Wasser
Name[el]=Νερό
Name[eo]=Akvo
Name[es]=Agua
Name[et]=Vesi
Name[fi]=Vesi
Name[fr]=Eau
Name[hu]=víz
Name[is]=Vatn
Name[it]=Acqua
Name[ja]=水
Name[ko]=물
Name[lt]=Vanduo
Name[lv]=Ūdens
Name[mt]=Ilma
Name[no]=Vann
Name[no_NY]=Vatn
Name[pl]=Woda
Name[pt_BR]=Água
Name[pt]=Água
Name[ru]=Вода
Name[sk]=Voda
Name[sl]=Voda
Name[sv]=Vatten
Name[ta]=¿£÷
Name[uk]=Вода
Name[vi]=Nước 
Name[xh]=Amanzi
Name[zh_CN.GB2312]=水
