[KDE Backdeck]
Name=Future Simple
Name[ca]=Futur senzill
Name[da]=Fremtids simpelt
Name[de]=Zukunft (einfach)
Name[el]=Μέλλον απλό
Name[en_GB]=Future Simple
Name[es]=Futuro simple
Name[et]=Lihtne futu
Name[gl]=Futuro simple
Name[it]=Futuro semplice
Name[nds]=Tokunft eenfach
Name[nl]=Toekomst eenvoudig
Name[nn]=Futuristisk enkel
Name[pt]=Futuro Simples
Name[pt_BR]=Futuro simples
Name[sl]=Preprosta prihodnost
Name[sr]=Будући једноставни
Name[sr@latin]=Budući jednostavni
Name[sv]=Framtid enkel
Name[tr]=Basit Gelecek
Name[uk]=Футуристичний простий
Name[x-test]=xxFuture Simplexx
Name[zh_CN]=简洁的未来风
Name[zh_TW]=未來簡單式
Preview=11.png
SVG=future.svgz
Back=Future

