[KDE Backdeck]
Name=Future Simple
Name[bs]=Jednostavna budućnost
Name[ca]=Futur senzill
Name[ca@valencia]=Futur senzill
Name[da]=Fremtids simpelt
Name[de]=Zukunft (einfach)
Name[el]=Μέλλον απλό
Name[en_GB]=Future Simple
Name[es]=Futuro simple
Name[et]=Lihtne futu
Name[fr]=Future et simple
Name[ga]=Future Simple
Name[gl]=Futuro simple
Name[hu]=Egyszerű jövő
Name[it]=Futuro semplice
Name[kk]=Қарапайым болашақты
Name[km]=អនាគតធម្មតា
Name[lv]=Vienkāršs futūristisks
Name[nb]=Futuristisk enkel
Name[nds]=Tokunft eenfach
Name[nl]=Toekomst eenvoudig
Name[nn]=Futuristisk enkel
Name[pl]=Przyszły prosty
Name[pt]=Futuro Simples
Name[pt_BR]=Futuro simples
Name[ru]=Простота будущего
Name[sk]=Jednoduchá budúcnosť
Name[sl]=Preprosta prihodnost
Name[sr]=Будући једноставни
Name[sr@ijekavian]=Будући једноставни
Name[sr@ijekavianlatin]=Budući jednostavni
Name[sr@latin]=Budući jednostavni
Name[sv]=Framtid enkel
Name[tr]=Basit Gelecek
Name[uk]=Футуристичний простий
Name[x-test]=xxFuture Simplexx
Name[zh_CN]=简洁的未来风
Name[zh_TW]=未來簡單式
Preview=11.png
SVG=future.svgz
Back=Future

