[KDE Backdeck]
Name=White NICU
Name[ca]=NICU Blanc
Name[da]=White NICU
Name[de]=Nicu (weiß)
Name[el]=Λευκό NICU
Name[en_GB]=White NICU
Name[es]=NICU blanco
Name[et]=Valge NICU
Name[fr]=NICU blanc
Name[hu]=Fehér NICU
Name[it]=NICU bianco
Name[km]=NICU ស
Name[lv]=Balts NICU
Name[nds]=Witt NICU
Name[nl]=White NICU
Name[nn]=Nicu – kvit
Name[pt]=NICU Branco
Name[pt_BR]=NICU Branco
Name[ru]=Белый детский
Name[sl]=Beli Nicu
Name[sr]=Бели нику
Name[sr@latin]=Beli niku
Name[sv]=Nicus vita
Name[tr]=Beyaz NICU
Name[uk]=Білий NICU
Name[x-test]=xxWhite NICUxx
Name[zh_CN]=白色植物装饰
Name[zh_TW]=White NICU
Preview=11.png
SVG=white.svgz
Back=Nicu Ornamental
